@charset "UTF-8";
/* -------------------
	BREADCRUMB
--------------------*/

.breadcrumb {
  background-color: #000;
  padding: 14px 18px 14px;
  &-inner {
    white-space: nowrap;
    overflow-x: auto;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    @include mq() {
      width: auto;
      max-width: auto;
    }
  }
  ul {
    li {
      display: inline-block;
      font-size: fs(12);
      letter-spacing: 0.6px;
      @include mq() {
        margin-bottom: 8px;
      }
      &:first-child {
        a {
          padding-left: 12px;
        }
      }
      a {
        display: inline-block;
        transition: all .3s;
        &:hover {
          opacity: 0.7;
        }
        .icon-home {
          position: relative;
          width: 13px;
          height: 11px;
          &:before {
            position: absolute;
            bottom: 0;
            left: -12px;
            display: inline-block;
            width: 13px;
            height: 11px;
            background: url(../images/common/icon-home.svg) no-repeat;
            content: "";
          }
        }
      }
      &+li {
        position: relative;
        padding-left: 38px;
        color: #fff;
        &:before {
          display: inline-block;
          position: absolute;
          top: 50%;
          // top: 8px;
          left: 8px;
          width: 18px;
          height: 1px;
          background-color: #A3A3A3;
          content: "";
        }
      }
    }
  }
}