@charset "UTF-8";
/* -------------------
  TABS
--------------------*/

.tabs {
  &-navWrapper {
    @include mq() {
      white-space: nowrap;
      overflow-x: auto;
    }
  }

  &-nav {
    display: flex;
    width: 100%;
    background-color: #F5F5F6;
  }

  &-item {
    // width: 33.33%;
    flex: 1;
    border-top: solid 4px #F5F5F6;
    background-color: #F5F5F6;
    background: none;
    font-size: fs(15);
    letter-spacing: .38px;
    line-height: fs(20);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: all .3s;
    @include mq() {
      font-size: fs(14);
      letter-spacing: .2px;
      line-height: fs(16);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 28px 15px;
      text-align: center;
      @include mq() {
        padding: 12px 8px;
      }
    }

    &:hover {
      border-top-color: #e4e4e4;
      background-color: #e4e4e4;
    }

    &.active {
      border-top-color: #AD002D;
      color: #AD002D;
      background-color: #fff;
    }
  }

  &-cnt {
    background-color: #fff;
  }
}