@charset "UTF-8";
// ===========================
// TABLE
// ===========================

.table {
  @include mq(sm2) {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    background-color: #F1F4F6;
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 205px;
    @include mq(sm2) {
      width: 100px;
    }
  }

  td {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    box-sizing: border-box;
    padding: 20px 30px;

    ul {
      li {
        margin-bottom: 10px;
        position: relative;
        list-style: none;
        padding-left: 20px;
        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          position: absolute;
          left: 0;
          top: 7px;
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #AD002D;
          content: "";
        }
      }
    }
  }

  &.type2 {
    th {
      text-align: left;
    }
    th, td {
      font-size: fs(14);
      line-height: fs(25);
      background-color: #fff;
    }
  }

  &.type3 {
    th {
      text-align: left;
    }
    th, td {
      font-size: fs(14);
      line-height: fs(25);
      vertical-align: middle;
    }
  }

  &.type4 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }

}

.table2 {

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: fs(14);
    line-height: fs(22);
  }

  td {
    padding: 20px;
    border: 1px solid #DCDCDC;
    color: #434242;
    &:nth-child(n) {
      border-left: none;
    }
    &:nth-child(4n) {
      border-right: none;
    }
  }

}