@charset "UTF-8";
// ===========================
// Text: Title, Tag, 
// Label, Link, Button, ..
// ===========================

// Setting for WP's Text Editor
.no-reset {
  h2 {
  	position: relative;
    font-size: fs(30);
    line-height: fs(42);
    letter-spacing: 1.5px;
    font-weight: bold;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h3 {
  	position: relative;
    font-size: fs(20);
    line-height: fs(30);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(18);
      line-height: fs(27);
    }
  }
  h4 {
  	position: relative;
    font-size: fs(18);
    line-height: fs(27);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(16);
      line-height: fs(24);
    }
  }
  h5 {
  	position: relative;
    font-size: fs(14);
    line-height: fs(21);
    font-weight: bold;
    font-family: $font-base;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  p {
  	position: relative;
    font-size: fs(14);
    line-height: fs(25);
    letter-spacing: .35px;
    @include mq() {
      font-size: fs(12);
      line-height: fs(18);
    }
  }
  a {
    // color: #7B7B6C;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }
  ul {
    padding: 0;
    li {
      position: relative;
      list-style: none;
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: fs(14);
      line-height: fs(22);
      color: #434242;
      &:before {
        position: absolute;
        left: 0;
        top: 8px;
        display: inline-block;
        width: 6px; 
        height: 6px;
        border-radius: 50%;
        background-color: #AD002D;
        content: ""; 
      }
    }
    iframe {
      max-width: 100%;
    }
  }
}

/* -------------------
  Title by level
--------------------*/
.title-lv2 {
  position: relative;
  font-size: fs(30);
  line-height: fs(42);
  letter-spacing: 1.5px;
  font-weight: bold;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv3 {
	position: relative;
  font-size: fs(20);
  line-height: fs(30);
  font-weight: bold;
  @include mq() {
    font-size: fs(18);
    line-height: fs(27);
  }
}

.title-lv4 {
	position: relative;
  font-size: fs(18);
  line-height: fs(27);
  font-weight: bold;
  @include mq() {
    font-size: fs(16);
    line-height: fs(24);
  }
}

.title-lv5 {
	position: relative;
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  font-family: $font-base;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

/* -------------------
  Description
--------------------*/
.desc {
	font-size: fs(14);
  line-height: fs(21);
  color: #666666;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.desc2 {
  font-size: fs(14);
  line-height: fs(21);
  font-weight: bold;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}

.desc3 {
  font-size: fs(16);
  line-height: fs(32);
  @include mq() {
    font-size: fs(14);
    line-height: fs(21);
  }
}

.desc4 {
  font-size: fs(14);
  line-height: fs(24);
  @include mq() {
    font-size: fs(14);
    line-height: fs(21);
  }
}




/* -------------------
  Section Title
--------------------*/
.main-ttl {
  font-size: fs(64);
  font-family: $font-a;
  letter-spacing: 6.4px;
  font-weight: bold;
  @include mq() {
    font-size: fs(42);
  }
  span {
    display: block;
    width: 100%;
    font-size: fs(12);
    letter-spacing: .6px;
    @include mq() {
      font-size: fs(11);
    }
  }
  &.type2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    span {
      display: inline-block;
      width: auto;
      margin-left: 10px;
    }
  }
}

.section-ttl {
  font-size: fs(40);
  font-family: $font-a;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: 4px;
  line-height: 1;
  @include mq() {
    font-size: fs(32);
    letter-spacing: 1.6px;
    flex-wrap: wrap;
  }
  span {
    display: inline-block;
    width: auto;
    padding-bottom: 5px;
    margin-left: 30px;
    font-size: fs(15);
    letter-spacing: 3px;
    @include mq() {
      width: 100%;
      margin-left: 0;
      font-size: fs(12);
      letter-spacing: 2.4px;
      line-height: fs(25);
    }
  }
}


.section-ttl2 {
  font-size: fs(34);
  line-height: fs(42);
  letter-spacing: 1.7px;
  font-weight: bold;
  @include mq() {
    font-size: fs(32);
    letter-spacing: 1.6px;
  }
}

.section-ttl3 {
  font-size: fs(30);
  line-height: fs(42);
  letter-spacing: 1.5px;
  font-weight: bold;
  @include mq() {
    font-size: fs(26);
    letter-spacing: 1.3px;
  }
}

.section-ttl4 {
  font-size: fs(26);
  line-height: fs(34);
  letter-spacing: 1.3px;
  font-weight: bold;
  @include mq() {
    font-size: fs(22);
    letter-spacing: 1.1px;
  }
}

.section-ttl5 {
  font-size: fs(22);
  line-height: fs(25);
  letter-spacing: 1.1px;
  font-weight: bold;
  @include mq() {
    font-size: fs(18);
    letter-spacing: .8px;
  }
}

.section-ttl6 {
  font-size: fs(18);
  line-height: fs(22);
  letter-spacing: 1.1px;
  font-weight: bold;
  @include mq() {
    font-size: fs(16);
    letter-spacing: .8px;
  }
}

/* -------------------
  Date, time
--------------------*/
.date {
  font-family: $font-a;
  font-size: fs(14);
  line-height: fs(21);
  color: #666666;
  @include mq() {
    font-size: fs(12);
    line-height: fs(18);
  }
}


/* -------------------
  Tags, Label
--------------------*/
.tag {
  display: inline-block;
  min-width: 100px;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 2px 6px;
  color: #999999;
  border: solid 1px #C4C4C4;
  font-size: fs(10);
  text-align: center;
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }
  &.type2 {
    &:hover {
      color: #AD002D;
    }
  }
  &.type3 {
    background-color: #DCDCDC;
    border: solid 1px #DCDCDC;
    color: #AD002D;
  }
}

.label {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: $font-a;
  font-size: fs(10);
  line-height: fs(15);
  border: solid 1px #000;
  background-color: #fff;
  @include mq() {
    padding: 1px 3px;
  }

  &:last-child {
    margin-right: 0;
  }
}


/* -------------------
  Link, Button, Tab
--------------------*/
.link {
  display: block;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.underline {
    display: inline-block;
    text-decoration: underline;
    font-size: fs(14);
    line-height: 1;
    color: #7B7B6C;
    &:hover{
      text-decoration: none;
    }
  }
}

.link-icon {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  padding-right: 20px;
  font-size: fs(14);
  transition: all .3s;
  line-height: fs(21);
  font-weight: bold;
  color: #000;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }
  &.arrow {
    background: url(../images/common/icon-link.svg) right center / 12px 8px  no-repeat;
  }
  &.blank {
    background: url(../images/common/icon-blank.svg) right center / 11px 11px  no-repeat;
  }
  &.pdf {
    background: url(../images/common/icon-pdf.svg) right center / 12px 14px  no-repeat;
  }
  &.excel {
    background: url(../images/common/icon-excel.svg) right center / 11px 13px  no-repeat;
  }
}

.link-viewAll {
  display: inline-block;
  padding-top: 24px;
  font-size: fs(14);
  font-weight: bold;
  color: #7B7B6C;
  background: url(../images/common/icon-all.svg) no-repeat top center;
  background-size: 18px 18px;
}

.link-go {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 5px);
    width: 12px;
    height: 12px;
    background: url(../images/common/icon-page-right-gray.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

.view-more {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: fs(15);
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background: url(../images/common/icon-viewmore.svg) left center / 11px 10px no-repeat;
  
  &:hover{
    opacity: .7;
  }

  &.type2 {
    background-image: url(../images/common/icon-viewmore-pink.svg)
  }
}

.view-more2 {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  font-size: fs(15);
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  font-family: $font-a;
  
  &:hover{
    opacity: .7;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
    content: "";
  }
}

.view-more3 {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: fs(15);
  font-weight: bold;
  letter-spacing: .38px;
  line-height: 1;
  transition: all .3s;
  color: #000000;
  background: url(../images/common/icon-viewmore-pink.svg) left center / 11px 10px no-repeat;
  
  &:hover{
    opacity: .7;
  }
}

.btn-view-more {
  display: inline-block;
  min-width: 300px;
  padding: 26px 35px;
  font-size: fs(16);
  line-height: 1;
  font-weight: bold;
  color: #fff;
  border: 1px solid #AD002D;
  letter-spacing: .8px;
  transition: color .3s, background-color .3s;
  background: #AD002D url(../images/common/icon-arrow-right.svg) right 16px center / 20px 12px no-repeat;

  &:hover {
    color: #AD002D;
    background-color: #fff;
    background-image: url(../images/common/icon-arrow-right-red.svg);
  }
}

.btn-view-more2 {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding: 26px 35px;
  font-family: $font-a;
  font-size: fs(16);
  line-height: 1;
  font-weight: bold;
  color: #fff;
  border: 1px solid #AD002D;
  letter-spacing: .8px;
  transition: color .3s, background-color .3s;
  background: #AD002D url(../images/common/icon-arrow-right.svg) right 16px center / 20px 12px no-repeat;
  span {
    padding-bottom: 4px;
    display: inline-block;
    margin-left: 25px;
    font-size: fs(11);
    font-family: $font-base;
  }
  &:hover {
    color: #AD002D;
    background-color: #fff;
    background-image: url(../images/common/icon-arrow-right-red.svg);
  }
}

.btn-view-more3 {
  display: block;
  height: 90px;
  line-height: 90px;
  padding: 0 50px;
  font-size: fs(16);
  letter-spacing: .4px;
  font-family: $font-a;
  font-weight: bold;
  border: solid 1px #000;
  transition: all .3s;
  text-align: center;
  background: #fff url(../images/common/icon-arrow-right-gray.svg) right 20px center / 33px 8px no-repeat;
  &:hover {
    opacity: .7;
  }
}

.btn-view-more4 {
  display: block;
  height: 90px;
  line-height: 90px;
  padding: 0 50px 0 40px;
  font-size: fs(16);
  letter-spacing: 1.6px;
  font-weight: bold;
  border: solid 1px #707070;
  transition: all .3s;
  background: #fff url(../images/common/icon-arrow-right-gray.svg) right 20px center / 33px 8px no-repeat;
  &:hover {
    opacity: .7;
  }
}

.btn-view-more5 {
  display: flex;
  align-items: center;
  min-width: 400px;
  padding: 33px 35px;
  font-family: $font-a;
  font-size: fs(22);
  line-height: 1;
  letter-spacing: 1.1px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #093A96;
  letter-spacing: .8px;
  transition: color .3s, background-color .3s;
  background: #093A96 url(../images/common/icon-arrow-right-long.svg) right 16px center / 33px 8px no-repeat;
  @include mq() {
    min-width: auto;
    width: 300px;
    margin: 0 auto;
  }
  span {
    padding-bottom: 4px;
    display: inline-block;
    margin-left: 25px;
    font-size: fs(11);
    letter-spacing: .55px;
    font-family: $font-base;
  }
  &:hover {
    color: #093A96;
    background-color: #fff;
    background-image: url(../images/common/icon-arrow-right-long-blue.svg);
  }
}

.btn-view-more6 {
  display: inline-block;
  padding-top: 18px;
  font-size: fs(14);
  font-family: $font-a;
  letter-spacing: .35px;
  font-weight: bold;
  transition: all .3s;
  background: #fff url(../images/common/icon-arrow-up.svg) top center / 12px 6px no-repeat;
  &:hover {
    opacity: .7;
  }
}

.btn-contact {
  display: block;
  width: 300px;
  max-width: 100%;
  padding: 25px 30px;
  font-size: fs(16);
  letter-spacing: .8px;
  font-weight: bold;
  color: #fff;
  border: solid 1px #AD002D;
  background-color: #AD002D;
  transition: all .3s;
  @include mq() {
    margin: 0 auto;
  }
  &:hover {
    background-color: #fff;
    color: #AD002D;
  }
}

.btn-direct {
  display: inline-block;
  padding: 20px 50px;
  border: solid #DCDCDC 1px;
  font-size: fs(16);
  line-height: fs(25);
  font-weight: bold;
  background: url(../images/common/icon-arrow-right-red2.svg) right 35px center no-repeat;
  transition: all .3s;
  @include mq(sm2) {
    width: 100%;
    padding: 15px 10px;
  }
  &:hover {
    border-color: #AD002D;
    // background-color: #AD002D;
    // color: #fff;
    // background-image: url(../images/common/icon-arrow-right-white.svg);
    // span {
    //   background-image: url(../images/common/icon-paper-white.svg);
    // }
  }
  span {
    display: inline-block;
    padding: 10px 55px;
    background: url(../images/common/icon-paper.svg) left center no-repeat;
  }
}


.btn {
  display: inline-block;
  width: 125px;
  height: 38px;
  line-height: 38px;
  border-radius: 2px;
  border: none;
  background-color: #7B7B6C;
  color: #fff;
  font-size: fs(14);
  text-align: center;
  transition: all .3s;

  &:hover {
    opacity: .7;
  }

  &.type2 {
    background-color: #C7C7C7;

    &:hover {
      opacity: .7;
    }
  }
}

.btn-close {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #7B7B6C;
  border-radius: 50%;
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
  &:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: url(../images/common/icon-close.svg) center center / 100% 100% no-repeat;
    content: "";
  }
}

/* -------------------
  Group button
--------------------*/

.post-ctrl {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px 0;

  &--link {
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0px;
    font-size: fs(14);
    line-height: 1;
    transition: all .3s;
    color: #7B7B6C;
    background: url(../images/common/icon-arrow-right-gray.svg) right center / 10px 10px no-repeat;
    
    &:hover{
      &:after {
        display: block;
      }
    }
    &:after {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 1px;
      background-color: #7B7B6C;
      content: "";
    }
  }

  .back {
    margin-right: auto;
    padding: 0 0 0 20px;
    background: url(../images/common/icon-arrow-left-gray.svg) left center/10px 10px no-repeat;
    &:after {
      left: 20px;
    }
  }

  .next {
    margin-left: auto;
  }
  &--menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding-top: 24px;
    font-size: fs(14);
    font-weight: bold;
    color: #7B7B6C;
    background: url(../images/common/icon-all.svg) no-repeat top center;
    background-size: 18px 18px;
  }
}

.post-direct {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px 11px;
      border-top: 1px solid #C7C7C7;
      border-bottom: 1px solid #C7C7C7;
      @include mq() {
        padding: 30px 20px 20px;
      }
      &-tag {
        @include mq() {
          width: 100%;
        }
      }
      &-sns {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        @include mq() {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
        }
        a {
          margin-right: 20px;
          @include mq() {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: solid 1px #7B7B6C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: auto;
            }
          }
          &.facebook {
            padding-bottom: 2px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }