@charset "UTF-8";
/* -------------------
  FOOTER
--------------------*/
.footer {
	padding: 90px 0 70px;
	background-color: #1F1F1F;
	color: #CBCBCB;
	@include mq() {
		padding: 45px 30px;
	}
	&-inner {
		width: 1040px;
		max-width: 100%;
		margin: 0 auto;
	}
	&-top {
		display: flex;
		justify-content: space-between;
	}
	&-infor {
		width: 310px;
		max-width: 100%;
		margin-right: 100px;
		@include mq() {
			width: 100%;
			margin-right: 0;
		}
	}
	&-logo {
		width: 298px;
		max-width: 100%;
		margin-bottom: 25px;
		@include mq() {
			width: 77vw;
			max-width: 288px;
			margin-bottom: 35px;
		}
	}
	&-address {
		margin-bottom: 20px;
		font-size: fs(14);
		line-height: fs(26);
		@include mq() {
			margin-bottom: 15px;
		}
	}
	&-tel,
	&-fax {
		font-size: fs(14);
		line-height: fs(26);
	}
	&-nav {
		display: flex;
		justify-content: space-between;
		width: calc(100% - 298px - 130px);
		@include mq() {
			width: 100%;
		}
		&--item {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
		&--direct {
			margin-bottom: 20px;
			font-size: fs(15);
			letter-spacing: .75px;
			line-height: fs(24);
			font-weight: bold;
			&.policy {
				font-weight: normal;
			}
		}
		&--links {
			font-size: fs(14);
			line-height: fs(28);
		}
	}
	&-copy {
		margin-top: 70px;
		@include mq() {
			margin-top: 40px;
		}
		&--infor {
			color: #767676;
			font-size: fs(12);
			font-family: $font-a;
			@include mq() {
				font-size: fs(10);
			}
		}
	}
}