@charset "UTF-8";

/* -------------------
  HEADER
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 4.2vw;
  font-size: fs(14);
  line-height: fs(20);
  font-weight: bold;
  background-color: #fff;
  z-index: 9999;
  transition: all .4s;
  &.top {
    opacity: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    &.open {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
    }
  }
  @include mq() {
    height: 60px;
    padding-left: 0;
    &.open {
      background-color: #fff;
    }
  }
  &-logo {
    width: 17.85%;
    max-width: 250px;
    margin-right: 5.3vw;
    @include mq() {
      width: 57%;
      max-width: 214px;
      margin-right: 0;
      margin-left: 15px;
    }
  }

  &-menu {
    @include mq() {
      position: fixed;
      top: 60px;
      width: 100vw;
      height: calc(100vh - 60px);
      background-color: #fff;
      // border-top: solid 1px #E3E3E3;
      padding: 30px 15px 200px;
      transition: all .3s;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      overflow-y: auto;
      &.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
      }
    }
    ul {
      display: flex;
      align-items: center;
      @include mq() {
        flex-wrap: wrap;
        margin-bottom: 40px;
      }

      li {
        margin-right: 3.2vw;
        @include mq() {
          display: block;
          width: 100%;
          margin-right: 0;
          // margin-bottom: 30px;
          border-bottom: solid 1px #F1F4F6;
          a {
            display: block;
            padding: 25px; 
            text-align: left;
            font-size: fs(16);
            &.privacy {
              font-weight: normal;
            }
          }
        }
      }
    }

    &--contact {
      position: fixed;
      top: 0;
      right: 0;
      display: block;
      width: 12.9%;
      max-width: 180px;
      height: 80px;
      line-height: 80px;
      padding-right: 14px;
      text-align: center;
      color: #fff;
      background-color: #AD002D;
      @include mq() {
        position: initial;
        width: 305px;
        max-width: 100%;
        margin: 0 auto;
        height: 70px;
        line-height: 70px;
        padding-right: 0;
        font-size: fs(16);
      }
    }
    &--copy {
      margin-top: 40px;
      font-weight: normal;
      font-family: $font-b;
      font-size: fs(12);
      line-height: fs(20);
      color: #767676;
      @include mq(tb) {
        text-align: center;
      }
    }
  }

  &-ctrl {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 27px;
    transition: all .3s;
    z-index: 9999;
    display: none;
    @include mq() {
      display: block;
      top: 25px;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 20px;
      background: #AD002D;
      transition: .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 8px;
      }

      // &:nth-child(3) {
      //   top: 12px;
      // }
    }

    &.open {
      span {
        &:nth-child(1) {
          left: 0;
          top: 6px;
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          // opacity: 0;
          top: 6px;
          transform: rotate(-45deg);
        }

        // &:nth-child(3) {
        //   top: 6px;
        //   transform: rotate(-45deg);
        // }
      }
    }
  }

  @include mq(pc) {}
}


// Video MV

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  width: 120%;
  height: 120%;
  pointer-events: none;
  @include mq() {
    width: 150%;
    height: 150%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-container { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-container { 
    width: 300%; 
    left: -100%; 
    @include mq(sm2) {
      left: -55%;
    }
  }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
