@charset "UTF-8";
/* -------------------
  RESET
--------------------*/
html,
body,
div,
span,
applet,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a {
  color: inherit;
  text-decoration: none; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* -------------------
  NO - RESET
--------------------*/
.no-reset * {
  line-height: normal; }

.no-reset html {
  box-sizing: content-box; }

.no-reset body {
  margin: 8px;
  line-height: normal; }

.no-reset p {
  margin: 1em 0; }

.no-reset blockquote,
.no-reset figure {
  margin: 1em 40px; }

.no-reset q {
  quotes: "“" "”" "‘" "’"; }
  .no-reset q:before {
    content: open-quote; }
  .no-reset q:after {
    content: close-quote; }

.no-reset hr {
  border: 1px inset;
  box-sizing: border-box;
  margin: 0.5em auto; }

.no-reset h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0; }

.no-reset h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0; }

.no-reset h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0; }

.no-reset h4 {
  font-size: 1.00em;
  font-weight: bold;
  margin: 1.33em 0; }

.no-reset h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0; }

.no-reset h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0; }

.no-reset article h1,
.no-reset aside h1,
.no-reset nav h1,
.no-reset section h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0; }

.no-reset article article h1,
.no-reset article aside h1,
.no-reset article nav h1,
.no-reset article section h1,
.no-reset aside article h1,
.no-reset aside aside h1,
.no-reset aside nav h1,
.no-reset aside section h1,
.no-reset nav article h1,
.no-reset nav aside h1,
.no-reset nav nav h1,
.no-reset nav section h1,
.no-reset section article h1,
.no-reset section aside h1,
.no-reset section nav h1,
.no-reset section section h1 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0; }

.no-reset article article article h1,
.no-reset article article aside h1,
.no-reset article article nav h1,
.no-reset article article section h1,
.no-reset article aside article h1,
.no-reset article aside aside h1,
.no-reset article aside nav h1,
.no-reset article aside section h1,
.no-reset article nav article h1,
.no-reset article nav aside h1,
.no-reset article nav nav h1,
.no-reset article nav section h1,
.no-reset article section article h1,
.no-reset article section aside h1,
.no-reset article section nav h1,
.no-reset article section section h1,
.no-reset aside article article h1,
.no-reset aside article aside h1,
.no-reset aside article nav h1,
.no-reset aside article section h1,
.no-reset aside aside article h1,
.no-reset aside aside aside h1,
.no-reset aside aside nav h1,
.no-reset aside aside section h1,
.no-reset aside nav article h1,
.no-reset aside nav aside h1,
.no-reset aside nav nav h1,
.no-reset aside nav section h1,
.no-reset aside section article h1,
.no-reset aside section aside h1,
.no-reset aside section nav h1,
.no-reset aside section section h1,
.no-reset nav article article h1,
.no-reset nav article aside h1,
.no-reset nav article nav h1,
.no-reset nav article section h1,
.no-reset nav aside article h1,
.no-reset nav aside aside h1,
.no-reset nav aside nav h1,
.no-reset nav aside section h1,
.no-reset nav nav article h1,
.no-reset nav nav aside h1,
.no-reset nav nav nav h1,
.no-reset nav nav section h1,
.no-reset nav section article h1,
.no-reset nav section aside h1,
.no-reset nav section nav h1,
.no-reset nav section section h1,
.no-reset section article article h1,
.no-reset section article aside h1,
.no-reset section article nav h1,
.no-reset section article section h1,
.no-reset section aside article h1,
.no-reset section aside aside h1,
.no-reset section aside nav h1,
.no-reset section aside section h1,
.no-reset section nav article h1,
.no-reset section nav aside h1,
.no-reset section nav nav h1,
.no-reset section nav section h1,
.no-reset section section article h1,
.no-reset section section aside h1,
.no-reset section section nav h1,
.no-reset section section section h1 {
  font-size: 1.00em;
  font-weight: bold;
  margin: 1.33em 0; }

.no-reset article article article article h1,
.no-reset article article article aside h1,
.no-reset article article article nav h1,
.no-reset article article article section h1,
.no-reset article article aside article h1,
.no-reset article article aside aside h1,
.no-reset article article aside nav h1,
.no-reset article article aside section h1,
.no-reset article article nav article h1,
.no-reset article article nav aside h1,
.no-reset article article nav nav h1,
.no-reset article article nav section h1,
.no-reset article article section article h1,
.no-reset article article section aside h1,
.no-reset article article section nav h1,
.no-reset article article section section h1,
.no-reset article aside article article h1,
.no-reset article aside article aside h1,
.no-reset article aside article nav h1,
.no-reset article aside article section h1,
.no-reset article aside aside article h1,
.no-reset article aside aside aside h1,
.no-reset article aside aside nav h1,
.no-reset article aside aside section h1,
.no-reset article aside nav article h1,
.no-reset article aside nav aside h1,
.no-reset article aside nav nav h1,
.no-reset article aside nav section h1,
.no-reset article aside section article h1,
.no-reset article aside section aside h1,
.no-reset article aside section nav h1,
.no-reset article aside section section h1,
.no-reset article nav article article h1,
.no-reset article nav article aside h1,
.no-reset article nav article nav h1,
.no-reset article nav article section h1,
.no-reset article nav aside article h1,
.no-reset article nav aside aside h1,
.no-reset article nav aside nav h1,
.no-reset article nav aside section h1,
.no-reset article nav nav article h1,
.no-reset article nav nav aside h1,
.no-reset article nav nav nav h1,
.no-reset article nav nav section h1,
.no-reset article nav section article h1,
.no-reset article nav section aside h1,
.no-reset article nav section nav h1,
.no-reset article nav section section h1,
.no-reset article section article article h1,
.no-reset article section article aside h1,
.no-reset article section article nav h1,
.no-reset article section article section h1,
.no-reset article section aside article h1,
.no-reset article section aside aside h1,
.no-reset article section aside nav h1,
.no-reset article section aside section h1,
.no-reset article section nav article h1,
.no-reset article section nav aside h1,
.no-reset article section nav nav h1,
.no-reset article section nav section h1,
.no-reset article section section article h1,
.no-reset article section section aside h1,
.no-reset article section section nav h1,
.no-reset article section section section h1,
.no-reset aside article article article h1,
.no-reset aside article article aside h1,
.no-reset aside article article nav h1,
.no-reset aside article article section h1,
.no-reset aside article aside article h1,
.no-reset aside article aside aside h1,
.no-reset aside article aside nav h1,
.no-reset aside article aside section h1,
.no-reset aside article nav article h1,
.no-reset aside article nav aside h1,
.no-reset aside article nav nav h1,
.no-reset aside article nav section h1,
.no-reset aside article section article h1,
.no-reset aside article section aside h1,
.no-reset aside article section nav h1,
.no-reset aside article section section h1,
.no-reset aside aside article article h1,
.no-reset aside aside article aside h1,
.no-reset aside aside article nav h1,
.no-reset aside aside article section h1,
.no-reset aside aside aside article h1,
.no-reset aside aside aside aside h1,
.no-reset aside aside aside nav h1,
.no-reset aside aside aside section h1,
.no-reset aside aside nav article h1,
.no-reset aside aside nav aside h1,
.no-reset aside aside nav nav h1,
.no-reset aside aside nav section h1,
.no-reset aside aside section article h1,
.no-reset aside aside section aside h1,
.no-reset aside aside section nav h1,
.no-reset aside aside section section h1,
.no-reset aside nav article article h1,
.no-reset aside nav article aside h1,
.no-reset aside nav article nav h1,
.no-reset aside nav article section h1,
.no-reset aside nav aside article h1,
.no-reset aside nav aside aside h1,
.no-reset aside nav aside nav h1,
.no-reset aside nav aside section h1,
.no-reset aside nav nav article h1,
.no-reset aside nav nav aside h1,
.no-reset aside nav nav nav h1,
.no-reset aside nav nav section h1,
.no-reset aside nav section article h1,
.no-reset aside nav section aside h1,
.no-reset aside nav section nav h1,
.no-reset aside nav section section h1,
.no-reset aside section article article h1,
.no-reset aside section article aside h1,
.no-reset aside section article nav h1,
.no-reset aside section article section h1,
.no-reset aside section aside article h1,
.no-reset aside section aside aside h1,
.no-reset aside section aside nav h1,
.no-reset aside section aside section h1,
.no-reset aside section nav article h1,
.no-reset aside section nav aside h1,
.no-reset aside section nav nav h1,
.no-reset aside section nav section h1,
.no-reset aside section section article h1,
.no-reset aside section section aside h1,
.no-reset aside section section nav h1,
.no-reset aside section section section h1,
.no-reset nav article article article h1,
.no-reset nav article article aside h1,
.no-reset nav article article nav h1,
.no-reset nav article article section h1,
.no-reset nav article aside article h1,
.no-reset nav article aside aside h1,
.no-reset nav article aside nav h1,
.no-reset nav article aside section h1,
.no-reset nav article nav article h1,
.no-reset nav article nav aside h1,
.no-reset nav article nav nav h1,
.no-reset nav article nav section h1,
.no-reset nav article section article h1,
.no-reset nav article section aside h1,
.no-reset nav article section nav h1,
.no-reset nav article section section h1,
.no-reset nav aside article article h1,
.no-reset nav aside article aside h1,
.no-reset nav aside article nav h1,
.no-reset nav aside article section h1,
.no-reset nav aside aside article h1,
.no-reset nav aside aside aside h1,
.no-reset nav aside aside nav h1,
.no-reset nav aside aside section h1,
.no-reset nav aside nav article h1,
.no-reset nav aside nav aside h1,
.no-reset nav aside nav nav h1,
.no-reset nav aside nav section h1,
.no-reset nav aside section article h1,
.no-reset nav aside section aside h1,
.no-reset nav aside section nav h1,
.no-reset nav aside section section h1,
.no-reset nav nav article article h1,
.no-reset nav nav article aside h1,
.no-reset nav nav article nav h1,
.no-reset nav nav article section h1,
.no-reset nav nav aside article h1,
.no-reset nav nav aside aside h1,
.no-reset nav nav aside nav h1,
.no-reset nav nav aside section h1,
.no-reset nav nav nav article h1,
.no-reset nav nav nav aside h1,
.no-reset nav nav nav nav h1,
.no-reset nav nav nav section h1,
.no-reset nav nav section article h1,
.no-reset nav nav section aside h1,
.no-reset nav nav section nav h1,
.no-reset nav nav section section h1,
.no-reset nav section article article h1,
.no-reset nav section article aside h1,
.no-reset nav section article nav h1,
.no-reset nav section article section h1,
.no-reset nav section aside article h1,
.no-reset nav section aside aside h1,
.no-reset nav section aside nav h1,
.no-reset nav section aside section h1,
.no-reset nav section nav article h1,
.no-reset nav section nav aside h1,
.no-reset nav section nav nav h1,
.no-reset nav section nav section h1,
.no-reset nav section section article h1,
.no-reset nav section section aside h1,
.no-reset nav section section nav h1,
.no-reset nav section section section h1,
.no-reset section article article article h1,
.no-reset section article article aside h1,
.no-reset section article article nav h1,
.no-reset section article article section h1,
.no-reset section article aside article h1,
.no-reset section article aside aside h1,
.no-reset section article aside nav h1,
.no-reset section article aside section h1,
.no-reset section article nav article h1,
.no-reset section article nav aside h1,
.no-reset section article nav nav h1,
.no-reset section article nav section h1,
.no-reset section article section article h1,
.no-reset section article section aside h1,
.no-reset section article section nav h1,
.no-reset section article section section h1,
.no-reset section aside article article h1,
.no-reset section aside article aside h1,
.no-reset section aside article nav h1,
.no-reset section aside article section h1,
.no-reset section aside aside article h1,
.no-reset section aside aside aside h1,
.no-reset section aside aside nav h1,
.no-reset section aside aside section h1,
.no-reset section aside nav article h1,
.no-reset section aside nav aside h1,
.no-reset section aside nav nav h1,
.no-reset section aside nav section h1,
.no-reset section aside section article h1,
.no-reset section aside section aside h1,
.no-reset section aside section nav h1,
.no-reset section aside section section h1,
.no-reset section nav article article h1,
.no-reset section nav article aside h1,
.no-reset section nav article nav h1,
.no-reset section nav article section h1,
.no-reset section nav aside article h1,
.no-reset section nav aside aside h1,
.no-reset section nav aside nav h1,
.no-reset section nav aside section h1,
.no-reset section nav nav article h1,
.no-reset section nav nav aside h1,
.no-reset section nav nav nav h1,
.no-reset section nav nav section h1,
.no-reset section nav section article h1,
.no-reset section nav section aside h1,
.no-reset section nav section nav h1,
.no-reset section nav section section h1,
.no-reset section section article article h1,
.no-reset section section article aside h1,
.no-reset section section article nav h1,
.no-reset section section article section h1,
.no-reset section section aside article h1,
.no-reset section section aside aside h1,
.no-reset section section aside nav h1,
.no-reset section section aside section h1,
.no-reset section section nav article h1,
.no-reset section section nav aside h1,
.no-reset section section nav nav h1,
.no-reset section section nav section h1,
.no-reset section section section article h1,
.no-reset section section section aside h1,
.no-reset section section section nav h1,
.no-reset section section section section h1 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0; }

.no-reset article article article article article h1,
.no-reset article article article article aside h1,
.no-reset article article article article nav h1,
.no-reset article article article article section h1,
.no-reset article article article aside article h1,
.no-reset article article article aside aside h1,
.no-reset article article article aside nav h1,
.no-reset article article article aside section h1,
.no-reset article article article nav article h1,
.no-reset article article article nav aside h1,
.no-reset article article article nav nav h1,
.no-reset article article article nav section h1,
.no-reset article article article section article h1,
.no-reset article article article section aside h1,
.no-reset article article article section nav h1,
.no-reset article article article section section h1,
.no-reset article article aside article article h1,
.no-reset article article aside article aside h1,
.no-reset article article aside article nav h1,
.no-reset article article aside article section h1,
.no-reset article article aside aside article h1,
.no-reset article article aside aside aside h1,
.no-reset article article aside aside nav h1,
.no-reset article article aside aside section h1,
.no-reset article article aside nav article h1,
.no-reset article article aside nav aside h1,
.no-reset article article aside nav nav h1,
.no-reset article article aside nav section h1,
.no-reset article article aside section article h1,
.no-reset article article aside section aside h1,
.no-reset article article aside section nav h1,
.no-reset article article aside section section h1,
.no-reset article article nav article article h1,
.no-reset article article nav article aside h1,
.no-reset article article nav article nav h1,
.no-reset article article nav article section h1,
.no-reset article article nav aside article h1,
.no-reset article article nav aside aside h1,
.no-reset article article nav aside nav h1,
.no-reset article article nav aside section h1,
.no-reset article article nav nav article h1,
.no-reset article article nav nav aside h1,
.no-reset article article nav nav nav h1,
.no-reset article article nav nav section h1,
.no-reset article article nav section article h1,
.no-reset article article nav section aside h1,
.no-reset article article nav section nav h1,
.no-reset article article nav section section h1,
.no-reset article article section article article h1,
.no-reset article article section article aside h1,
.no-reset article article section article nav h1,
.no-reset article article section article section h1,
.no-reset article article section aside article h1,
.no-reset article article section aside aside h1,
.no-reset article article section aside nav h1,
.no-reset article article section aside section h1,
.no-reset article article section nav article h1,
.no-reset article article section nav aside h1,
.no-reset article article section nav nav h1,
.no-reset article article section nav section h1,
.no-reset article article section section article h1,
.no-reset article article section section aside h1,
.no-reset article article section section nav h1,
.no-reset article article section section section h1,
.no-reset article aside article article article h1,
.no-reset article aside article article aside h1,
.no-reset article aside article article nav h1,
.no-reset article aside article article section h1,
.no-reset article aside article aside article h1,
.no-reset article aside article aside aside h1,
.no-reset article aside article aside nav h1,
.no-reset article aside article aside section h1,
.no-reset article aside article nav article h1,
.no-reset article aside article nav aside h1,
.no-reset article aside article nav nav h1,
.no-reset article aside article nav section h1,
.no-reset article aside article section article h1,
.no-reset article aside article section aside h1,
.no-reset article aside article section nav h1,
.no-reset article aside article section section h1,
.no-reset article aside aside article article h1,
.no-reset article aside aside article aside h1,
.no-reset article aside aside article nav h1,
.no-reset article aside aside article section h1,
.no-reset article aside aside aside article h1,
.no-reset article aside aside aside aside h1,
.no-reset article aside aside aside nav h1,
.no-reset article aside aside aside section h1,
.no-reset article aside aside nav article h1,
.no-reset article aside aside nav aside h1,
.no-reset article aside aside nav nav h1,
.no-reset article aside aside nav section h1,
.no-reset article aside aside section article h1,
.no-reset article aside aside section aside h1,
.no-reset article aside aside section nav h1,
.no-reset article aside aside section section h1,
.no-reset article aside nav article article h1,
.no-reset article aside nav article aside h1,
.no-reset article aside nav article nav h1,
.no-reset article aside nav article section h1,
.no-reset article aside nav aside article h1,
.no-reset article aside nav aside aside h1,
.no-reset article aside nav aside nav h1,
.no-reset article aside nav aside section h1,
.no-reset article aside nav nav article h1,
.no-reset article aside nav nav aside h1,
.no-reset article aside nav nav nav h1,
.no-reset article aside nav nav section h1,
.no-reset article aside nav section article h1,
.no-reset article aside nav section aside h1,
.no-reset article aside nav section nav h1,
.no-reset article aside nav section section h1,
.no-reset article aside section article article h1,
.no-reset article aside section article aside h1,
.no-reset article aside section article nav h1,
.no-reset article aside section article section h1,
.no-reset article aside section aside article h1,
.no-reset article aside section aside aside h1,
.no-reset article aside section aside nav h1,
.no-reset article aside section aside section h1,
.no-reset article aside section nav article h1,
.no-reset article aside section nav aside h1,
.no-reset article aside section nav nav h1,
.no-reset article aside section nav section h1,
.no-reset article aside section section article h1,
.no-reset article aside section section aside h1,
.no-reset article aside section section nav h1,
.no-reset article aside section section section h1,
.no-reset article nav article article article h1,
.no-reset article nav article article aside h1,
.no-reset article nav article article nav h1,
.no-reset article nav article article section h1,
.no-reset article nav article aside article h1,
.no-reset article nav article aside aside h1,
.no-reset article nav article aside nav h1,
.no-reset article nav article aside section h1,
.no-reset article nav article nav article h1,
.no-reset article nav article nav aside h1,
.no-reset article nav article nav nav h1,
.no-reset article nav article nav section h1,
.no-reset article nav article section article h1,
.no-reset article nav article section aside h1,
.no-reset article nav article section nav h1,
.no-reset article nav article section section h1,
.no-reset article nav aside article article h1,
.no-reset article nav aside article aside h1,
.no-reset article nav aside article nav h1,
.no-reset article nav aside article section h1,
.no-reset article nav aside aside article h1,
.no-reset article nav aside aside aside h1,
.no-reset article nav aside aside nav h1,
.no-reset article nav aside aside section h1,
.no-reset article nav aside nav article h1,
.no-reset article nav aside nav aside h1,
.no-reset article nav aside nav nav h1,
.no-reset article nav aside nav section h1,
.no-reset article nav aside section article h1,
.no-reset article nav aside section aside h1,
.no-reset article nav aside section nav h1,
.no-reset article nav aside section section h1,
.no-reset article nav nav article article h1,
.no-reset article nav nav article aside h1,
.no-reset article nav nav article nav h1,
.no-reset article nav nav article section h1,
.no-reset article nav nav aside article h1,
.no-reset article nav nav aside aside h1,
.no-reset article nav nav aside nav h1,
.no-reset article nav nav aside section h1,
.no-reset article nav nav nav article h1,
.no-reset article nav nav nav aside h1,
.no-reset article nav nav nav nav h1,
.no-reset article nav nav nav section h1,
.no-reset article nav nav section article h1,
.no-reset article nav nav section aside h1,
.no-reset article nav nav section nav h1,
.no-reset article nav nav section section h1,
.no-reset article nav section article article h1,
.no-reset article nav section article aside h1,
.no-reset article nav section article nav h1,
.no-reset article nav section article section h1,
.no-reset article nav section aside article h1,
.no-reset article nav section aside aside h1,
.no-reset article nav section aside nav h1,
.no-reset article nav section aside section h1,
.no-reset article nav section nav article h1,
.no-reset article nav section nav aside h1,
.no-reset article nav section nav nav h1,
.no-reset article nav section nav section h1,
.no-reset article nav section section article h1,
.no-reset article nav section section aside h1,
.no-reset article nav section section nav h1,
.no-reset article nav section section section h1,
.no-reset article section article article article h1,
.no-reset article section article article aside h1,
.no-reset article section article article nav h1,
.no-reset article section article article section h1,
.no-reset article section article aside article h1,
.no-reset article section article aside aside h1,
.no-reset article section article aside nav h1,
.no-reset article section article aside section h1,
.no-reset article section article nav article h1,
.no-reset article section article nav aside h1,
.no-reset article section article nav nav h1,
.no-reset article section article nav section h1,
.no-reset article section article section article h1,
.no-reset article section article section aside h1,
.no-reset article section article section nav h1,
.no-reset article section article section section h1,
.no-reset article section aside article article h1,
.no-reset article section aside article aside h1,
.no-reset article section aside article nav h1,
.no-reset article section aside article section h1,
.no-reset article section aside aside article h1,
.no-reset article section aside aside aside h1,
.no-reset article section aside aside nav h1,
.no-reset article section aside aside section h1,
.no-reset article section aside nav article h1,
.no-reset article section aside nav aside h1,
.no-reset article section aside nav nav h1,
.no-reset article section aside nav section h1,
.no-reset article section aside section article h1,
.no-reset article section aside section aside h1,
.no-reset article section aside section nav h1,
.no-reset article section aside section section h1,
.no-reset article section nav article article h1,
.no-reset article section nav article aside h1,
.no-reset article section nav article nav h1,
.no-reset article section nav article section h1,
.no-reset article section nav aside article h1,
.no-reset article section nav aside aside h1,
.no-reset article section nav aside nav h1,
.no-reset article section nav aside section h1,
.no-reset article section nav nav article h1,
.no-reset article section nav nav aside h1,
.no-reset article section nav nav nav h1,
.no-reset article section nav nav section h1,
.no-reset article section nav section article h1,
.no-reset article section nav section aside h1,
.no-reset article section nav section nav h1,
.no-reset article section nav section section h1,
.no-reset article section section article article h1,
.no-reset article section section article aside h1,
.no-reset article section section article nav h1,
.no-reset article section section article section h1,
.no-reset article section section aside article h1,
.no-reset article section section aside aside h1,
.no-reset article section section aside nav h1,
.no-reset article section section aside section h1,
.no-reset article section section nav article h1,
.no-reset article section section nav aside h1,
.no-reset article section section nav nav h1,
.no-reset article section section nav section h1,
.no-reset article section section section article h1,
.no-reset article section section section aside h1,
.no-reset article section section section nav h1,
.no-reset article section section section section h1,
.no-reset aside article article article article h1,
.no-reset aside article article article aside h1,
.no-reset aside article article article nav h1,
.no-reset aside article article article section h1,
.no-reset aside article article aside article h1,
.no-reset aside article article aside aside h1,
.no-reset aside article article aside nav h1,
.no-reset aside article article aside section h1,
.no-reset aside article article nav article h1,
.no-reset aside article article nav aside h1,
.no-reset aside article article nav nav h1,
.no-reset aside article article nav section h1,
.no-reset aside article article section article h1,
.no-reset aside article article section aside h1,
.no-reset aside article article section nav h1,
.no-reset aside article article section section h1,
.no-reset aside article aside article article h1,
.no-reset aside article aside article aside h1,
.no-reset aside article aside article nav h1,
.no-reset aside article aside article section h1,
.no-reset aside article aside aside article h1,
.no-reset aside article aside aside aside h1,
.no-reset aside article aside aside nav h1,
.no-reset aside article aside aside section h1,
.no-reset aside article aside nav article h1,
.no-reset aside article aside nav aside h1,
.no-reset aside article aside nav nav h1,
.no-reset aside article aside nav section h1,
.no-reset aside article aside section article h1,
.no-reset aside article aside section aside h1,
.no-reset aside article aside section nav h1,
.no-reset aside article aside section section h1,
.no-reset aside article nav article article h1,
.no-reset aside article nav article aside h1,
.no-reset aside article nav article nav h1,
.no-reset aside article nav article section h1,
.no-reset aside article nav aside article h1,
.no-reset aside article nav aside aside h1,
.no-reset aside article nav aside nav h1,
.no-reset aside article nav aside section h1,
.no-reset aside article nav nav article h1,
.no-reset aside article nav nav aside h1,
.no-reset aside article nav nav nav h1,
.no-reset aside article nav nav section h1,
.no-reset aside article nav section article h1,
.no-reset aside article nav section aside h1,
.no-reset aside article nav section nav h1,
.no-reset aside article nav section section h1,
.no-reset aside article section article article h1,
.no-reset aside article section article aside h1,
.no-reset aside article section article nav h1,
.no-reset aside article section article section h1,
.no-reset aside article section aside article h1,
.no-reset aside article section aside aside h1,
.no-reset aside article section aside nav h1,
.no-reset aside article section aside section h1,
.no-reset aside article section nav article h1,
.no-reset aside article section nav aside h1,
.no-reset aside article section nav nav h1,
.no-reset aside article section nav section h1,
.no-reset aside article section section article h1,
.no-reset aside article section section aside h1,
.no-reset aside article section section nav h1,
.no-reset aside article section section section h1,
.no-reset aside aside article article article h1,
.no-reset aside aside article article aside h1,
.no-reset aside aside article article nav h1,
.no-reset aside aside article article section h1,
.no-reset aside aside article aside article h1,
.no-reset aside aside article aside aside h1,
.no-reset aside aside article aside nav h1,
.no-reset aside aside article aside section h1,
.no-reset aside aside article nav article h1,
.no-reset aside aside article nav aside h1,
.no-reset aside aside article nav nav h1,
.no-reset aside aside article nav section h1,
.no-reset aside aside article section article h1,
.no-reset aside aside article section aside h1,
.no-reset aside aside article section nav h1,
.no-reset aside aside article section section h1,
.no-reset aside aside aside article article h1,
.no-reset aside aside aside article aside h1,
.no-reset aside aside aside article nav h1,
.no-reset aside aside aside article section h1,
.no-reset aside aside aside aside article h1,
.no-reset aside aside aside aside aside h1,
.no-reset aside aside aside aside nav h1,
.no-reset aside aside aside aside section h1,
.no-reset aside aside aside nav article h1,
.no-reset aside aside aside nav aside h1,
.no-reset aside aside aside nav nav h1,
.no-reset aside aside aside nav section h1,
.no-reset aside aside aside section article h1,
.no-reset aside aside aside section aside h1,
.no-reset aside aside aside section nav h1,
.no-reset aside aside aside section section h1,
.no-reset aside aside nav article article h1,
.no-reset aside aside nav article aside h1,
.no-reset aside aside nav article nav h1,
.no-reset aside aside nav article section h1,
.no-reset aside aside nav aside article h1,
.no-reset aside aside nav aside aside h1,
.no-reset aside aside nav aside nav h1,
.no-reset aside aside nav aside section h1,
.no-reset aside aside nav nav article h1,
.no-reset aside aside nav nav aside h1,
.no-reset aside aside nav nav nav h1,
.no-reset aside aside nav nav section h1,
.no-reset aside aside nav section article h1,
.no-reset aside aside nav section aside h1,
.no-reset aside aside nav section nav h1,
.no-reset aside aside nav section section h1,
.no-reset aside aside section article article h1,
.no-reset aside aside section article aside h1,
.no-reset aside aside section article nav h1,
.no-reset aside aside section article section h1,
.no-reset aside aside section aside article h1,
.no-reset aside aside section aside aside h1,
.no-reset aside aside section aside nav h1,
.no-reset aside aside section aside section h1,
.no-reset aside aside section nav article h1,
.no-reset aside aside section nav aside h1,
.no-reset aside aside section nav nav h1,
.no-reset aside aside section nav section h1,
.no-reset aside aside section section article h1,
.no-reset aside aside section section aside h1,
.no-reset aside aside section section nav h1,
.no-reset aside aside section section section h1,
.no-reset aside nav article article article h1,
.no-reset aside nav article article aside h1,
.no-reset aside nav article article nav h1,
.no-reset aside nav article article section h1,
.no-reset aside nav article aside article h1,
.no-reset aside nav article aside aside h1,
.no-reset aside nav article aside nav h1,
.no-reset aside nav article aside section h1,
.no-reset aside nav article nav article h1,
.no-reset aside nav article nav aside h1,
.no-reset aside nav article nav nav h1,
.no-reset aside nav article nav section h1,
.no-reset aside nav article section article h1,
.no-reset aside nav article section aside h1,
.no-reset aside nav article section nav h1,
.no-reset aside nav article section section h1,
.no-reset aside nav aside article article h1,
.no-reset aside nav aside article aside h1,
.no-reset aside nav aside article nav h1,
.no-reset aside nav aside article section h1,
.no-reset aside nav aside aside article h1,
.no-reset aside nav aside aside aside h1,
.no-reset aside nav aside aside nav h1,
.no-reset aside nav aside aside section h1,
.no-reset aside nav aside nav article h1,
.no-reset aside nav aside nav aside h1,
.no-reset aside nav aside nav nav h1,
.no-reset aside nav aside nav section h1,
.no-reset aside nav aside section article h1,
.no-reset aside nav aside section aside h1,
.no-reset aside nav aside section nav h1,
.no-reset aside nav aside section section h1,
.no-reset aside nav nav article article h1,
.no-reset aside nav nav article aside h1,
.no-reset aside nav nav article nav h1,
.no-reset aside nav nav article section h1,
.no-reset aside nav nav aside article h1,
.no-reset aside nav nav aside aside h1,
.no-reset aside nav nav aside nav h1,
.no-reset aside nav nav aside section h1,
.no-reset aside nav nav nav article h1,
.no-reset aside nav nav nav aside h1,
.no-reset aside nav nav nav nav h1,
.no-reset aside nav nav nav section h1,
.no-reset aside nav nav section article h1,
.no-reset aside nav nav section aside h1,
.no-reset aside nav nav section nav h1,
.no-reset aside nav nav section section h1,
.no-reset aside nav section article article h1,
.no-reset aside nav section article aside h1,
.no-reset aside nav section article nav h1,
.no-reset aside nav section article section h1,
.no-reset aside nav section aside article h1,
.no-reset aside nav section aside aside h1,
.no-reset aside nav section aside nav h1,
.no-reset aside nav section aside section h1,
.no-reset aside nav section nav article h1,
.no-reset aside nav section nav aside h1,
.no-reset aside nav section nav nav h1,
.no-reset aside nav section nav section h1,
.no-reset aside nav section section article h1,
.no-reset aside nav section section aside h1,
.no-reset aside nav section section nav h1,
.no-reset aside nav section section section h1,
.no-reset aside section article article article h1,
.no-reset aside section article article aside h1,
.no-reset aside section article article nav h1,
.no-reset aside section article article section h1,
.no-reset aside section article aside article h1,
.no-reset aside section article aside aside h1,
.no-reset aside section article aside nav h1,
.no-reset aside section article aside section h1,
.no-reset aside section article nav article h1,
.no-reset aside section article nav aside h1,
.no-reset aside section article nav nav h1,
.no-reset aside section article nav section h1,
.no-reset aside section article section article h1,
.no-reset aside section article section aside h1,
.no-reset aside section article section nav h1,
.no-reset aside section article section section h1,
.no-reset aside section aside article article h1,
.no-reset aside section aside article aside h1,
.no-reset aside section aside article nav h1,
.no-reset aside section aside article section h1,
.no-reset aside section aside aside article h1,
.no-reset aside section aside aside aside h1,
.no-reset aside section aside aside nav h1,
.no-reset aside section aside aside section h1,
.no-reset aside section aside nav article h1,
.no-reset aside section aside nav aside h1,
.no-reset aside section aside nav nav h1,
.no-reset aside section aside nav section h1,
.no-reset aside section aside section article h1,
.no-reset aside section aside section aside h1,
.no-reset aside section aside section nav h1,
.no-reset aside section aside section section h1,
.no-reset aside section nav article article h1,
.no-reset aside section nav article aside h1,
.no-reset aside section nav article nav h1,
.no-reset aside section nav article section h1,
.no-reset aside section nav aside article h1,
.no-reset aside section nav aside aside h1,
.no-reset aside section nav aside nav h1,
.no-reset aside section nav aside section h1,
.no-reset aside section nav nav article h1,
.no-reset aside section nav nav aside h1,
.no-reset aside section nav nav nav h1,
.no-reset aside section nav nav section h1,
.no-reset aside section nav section article h1,
.no-reset aside section nav section aside h1,
.no-reset aside section nav section nav h1,
.no-reset aside section nav section section h1,
.no-reset aside section section article article h1,
.no-reset aside section section article aside h1,
.no-reset aside section section article nav h1,
.no-reset aside section section article section h1,
.no-reset aside section section aside article h1,
.no-reset aside section section aside aside h1,
.no-reset aside section section aside nav h1,
.no-reset aside section section aside section h1,
.no-reset aside section section nav article h1,
.no-reset aside section section nav aside h1,
.no-reset aside section section nav nav h1,
.no-reset aside section section nav section h1,
.no-reset aside section section section article h1,
.no-reset aside section section section aside h1,
.no-reset aside section section section nav h1,
.no-reset aside section section section section h1,
.no-reset nav article article article article h1,
.no-reset nav article article article aside h1,
.no-reset nav article article article nav h1,
.no-reset nav article article article section h1,
.no-reset nav article article aside article h1,
.no-reset nav article article aside aside h1,
.no-reset nav article article aside nav h1,
.no-reset nav article article aside section h1,
.no-reset nav article article nav article h1,
.no-reset nav article article nav aside h1,
.no-reset nav article article nav nav h1,
.no-reset nav article article nav section h1,
.no-reset nav article article section article h1,
.no-reset nav article article section aside h1,
.no-reset nav article article section nav h1,
.no-reset nav article article section section h1,
.no-reset nav article aside article article h1,
.no-reset nav article aside article aside h1,
.no-reset nav article aside article nav h1,
.no-reset nav article aside article section h1,
.no-reset nav article aside aside article h1,
.no-reset nav article aside aside aside h1,
.no-reset nav article aside aside nav h1,
.no-reset nav article aside aside section h1,
.no-reset nav article aside nav article h1,
.no-reset nav article aside nav aside h1,
.no-reset nav article aside nav nav h1,
.no-reset nav article aside nav section h1,
.no-reset nav article aside section article h1,
.no-reset nav article aside section aside h1,
.no-reset nav article aside section nav h1,
.no-reset nav article aside section section h1,
.no-reset nav article nav article article h1,
.no-reset nav article nav article aside h1,
.no-reset nav article nav article nav h1,
.no-reset nav article nav article section h1,
.no-reset nav article nav aside article h1,
.no-reset nav article nav aside aside h1,
.no-reset nav article nav aside nav h1,
.no-reset nav article nav aside section h1,
.no-reset nav article nav nav article h1,
.no-reset nav article nav nav aside h1,
.no-reset nav article nav nav nav h1,
.no-reset nav article nav nav section h1,
.no-reset nav article nav section article h1,
.no-reset nav article nav section aside h1,
.no-reset nav article nav section nav h1,
.no-reset nav article nav section section h1,
.no-reset nav article section article article h1,
.no-reset nav article section article aside h1,
.no-reset nav article section article nav h1,
.no-reset nav article section article section h1,
.no-reset nav article section aside article h1,
.no-reset nav article section aside aside h1,
.no-reset nav article section aside nav h1,
.no-reset nav article section aside section h1,
.no-reset nav article section nav article h1,
.no-reset nav article section nav aside h1,
.no-reset nav article section nav nav h1,
.no-reset nav article section nav section h1,
.no-reset nav article section section article h1,
.no-reset nav article section section aside h1,
.no-reset nav article section section nav h1,
.no-reset nav article section section section h1,
.no-reset nav aside article article article h1,
.no-reset nav aside article article aside h1,
.no-reset nav aside article article nav h1,
.no-reset nav aside article article section h1,
.no-reset nav aside article aside article h1,
.no-reset nav aside article aside aside h1,
.no-reset nav aside article aside nav h1,
.no-reset nav aside article aside section h1,
.no-reset nav aside article nav article h1,
.no-reset nav aside article nav aside h1,
.no-reset nav aside article nav nav h1,
.no-reset nav aside article nav section h1,
.no-reset nav aside article section article h1,
.no-reset nav aside article section aside h1,
.no-reset nav aside article section nav h1,
.no-reset nav aside article section section h1,
.no-reset nav aside aside article article h1,
.no-reset nav aside aside article aside h1,
.no-reset nav aside aside article nav h1,
.no-reset nav aside aside article section h1,
.no-reset nav aside aside aside article h1,
.no-reset nav aside aside aside aside h1,
.no-reset nav aside aside aside nav h1,
.no-reset nav aside aside aside section h1,
.no-reset nav aside aside nav article h1,
.no-reset nav aside aside nav aside h1,
.no-reset nav aside aside nav nav h1,
.no-reset nav aside aside nav section h1,
.no-reset nav aside aside section article h1,
.no-reset nav aside aside section aside h1,
.no-reset nav aside aside section nav h1,
.no-reset nav aside aside section section h1,
.no-reset nav aside nav article article h1,
.no-reset nav aside nav article aside h1,
.no-reset nav aside nav article nav h1,
.no-reset nav aside nav article section h1,
.no-reset nav aside nav aside article h1,
.no-reset nav aside nav aside aside h1,
.no-reset nav aside nav aside nav h1,
.no-reset nav aside nav aside section h1,
.no-reset nav aside nav nav article h1,
.no-reset nav aside nav nav aside h1,
.no-reset nav aside nav nav nav h1,
.no-reset nav aside nav nav section h1,
.no-reset nav aside nav section article h1,
.no-reset nav aside nav section aside h1,
.no-reset nav aside nav section nav h1,
.no-reset nav aside nav section section h1,
.no-reset nav aside section article article h1,
.no-reset nav aside section article aside h1,
.no-reset nav aside section article nav h1,
.no-reset nav aside section article section h1,
.no-reset nav aside section aside article h1,
.no-reset nav aside section aside aside h1,
.no-reset nav aside section aside nav h1,
.no-reset nav aside section aside section h1,
.no-reset nav aside section nav article h1,
.no-reset nav aside section nav aside h1,
.no-reset nav aside section nav nav h1,
.no-reset nav aside section nav section h1,
.no-reset nav aside section section article h1,
.no-reset nav aside section section aside h1,
.no-reset nav aside section section nav h1,
.no-reset nav aside section section section h1,
.no-reset nav nav article article article h1,
.no-reset nav nav article article aside h1,
.no-reset nav nav article article nav h1,
.no-reset nav nav article article section h1,
.no-reset nav nav article aside article h1,
.no-reset nav nav article aside aside h1,
.no-reset nav nav article aside nav h1,
.no-reset nav nav article aside section h1,
.no-reset nav nav article nav article h1,
.no-reset nav nav article nav aside h1,
.no-reset nav nav article nav nav h1,
.no-reset nav nav article nav section h1,
.no-reset nav nav article section article h1,
.no-reset nav nav article section aside h1,
.no-reset nav nav article section nav h1,
.no-reset nav nav article section section h1,
.no-reset nav nav aside article article h1,
.no-reset nav nav aside article aside h1,
.no-reset nav nav aside article nav h1,
.no-reset nav nav aside article section h1,
.no-reset nav nav aside aside article h1,
.no-reset nav nav aside aside aside h1,
.no-reset nav nav aside aside nav h1,
.no-reset nav nav aside aside section h1,
.no-reset nav nav aside nav article h1,
.no-reset nav nav aside nav aside h1,
.no-reset nav nav aside nav nav h1,
.no-reset nav nav aside nav section h1,
.no-reset nav nav aside section article h1,
.no-reset nav nav aside section aside h1,
.no-reset nav nav aside section nav h1,
.no-reset nav nav aside section section h1,
.no-reset nav nav nav article article h1,
.no-reset nav nav nav article aside h1,
.no-reset nav nav nav article nav h1,
.no-reset nav nav nav article section h1,
.no-reset nav nav nav aside article h1,
.no-reset nav nav nav aside aside h1,
.no-reset nav nav nav aside nav h1,
.no-reset nav nav nav aside section h1,
.no-reset nav nav nav nav article h1,
.no-reset nav nav nav nav aside h1,
.no-reset nav nav nav nav nav h1,
.no-reset nav nav nav nav section h1,
.no-reset nav nav nav section article h1,
.no-reset nav nav nav section aside h1,
.no-reset nav nav nav section nav h1,
.no-reset nav nav nav section section h1,
.no-reset nav nav section article article h1,
.no-reset nav nav section article aside h1,
.no-reset nav nav section article nav h1,
.no-reset nav nav section article section h1,
.no-reset nav nav section aside article h1,
.no-reset nav nav section aside aside h1,
.no-reset nav nav section aside nav h1,
.no-reset nav nav section aside section h1,
.no-reset nav nav section nav article h1,
.no-reset nav nav section nav aside h1,
.no-reset nav nav section nav nav h1,
.no-reset nav nav section nav section h1,
.no-reset nav nav section section article h1,
.no-reset nav nav section section aside h1,
.no-reset nav nav section section nav h1,
.no-reset nav nav section section section h1,
.no-reset nav section article article article h1,
.no-reset nav section article article aside h1,
.no-reset nav section article article nav h1,
.no-reset nav section article article section h1,
.no-reset nav section article aside article h1,
.no-reset nav section article aside aside h1,
.no-reset nav section article aside nav h1,
.no-reset nav section article aside section h1,
.no-reset nav section article nav article h1,
.no-reset nav section article nav aside h1,
.no-reset nav section article nav nav h1,
.no-reset nav section article nav section h1,
.no-reset nav section article section article h1,
.no-reset nav section article section aside h1,
.no-reset nav section article section nav h1,
.no-reset nav section article section section h1,
.no-reset nav section aside article article h1,
.no-reset nav section aside article aside h1,
.no-reset nav section aside article nav h1,
.no-reset nav section aside article section h1,
.no-reset nav section aside aside article h1,
.no-reset nav section aside aside aside h1,
.no-reset nav section aside aside nav h1,
.no-reset nav section aside aside section h1,
.no-reset nav section aside nav article h1,
.no-reset nav section aside nav aside h1,
.no-reset nav section aside nav nav h1,
.no-reset nav section aside nav section h1,
.no-reset nav section aside section article h1,
.no-reset nav section aside section aside h1,
.no-reset nav section aside section nav h1,
.no-reset nav section aside section section h1,
.no-reset nav section nav article article h1,
.no-reset nav section nav article aside h1,
.no-reset nav section nav article nav h1,
.no-reset nav section nav article section h1,
.no-reset nav section nav aside article h1,
.no-reset nav section nav aside aside h1,
.no-reset nav section nav aside nav h1,
.no-reset nav section nav aside section h1,
.no-reset nav section nav nav article h1,
.no-reset nav section nav nav aside h1,
.no-reset nav section nav nav nav h1,
.no-reset nav section nav nav section h1,
.no-reset nav section nav section article h1,
.no-reset nav section nav section aside h1,
.no-reset nav section nav section nav h1,
.no-reset nav section nav section section h1,
.no-reset nav section section article article h1,
.no-reset nav section section article aside h1,
.no-reset nav section section article nav h1,
.no-reset nav section section article section h1,
.no-reset nav section section aside article h1,
.no-reset nav section section aside aside h1,
.no-reset nav section section aside nav h1,
.no-reset nav section section aside section h1,
.no-reset nav section section nav article h1,
.no-reset nav section section nav aside h1,
.no-reset nav section section nav nav h1,
.no-reset nav section section nav section h1,
.no-reset nav section section section article h1,
.no-reset nav section section section aside h1,
.no-reset nav section section section nav h1,
.no-reset nav section section section section h1,
.no-reset section article article article article h1,
.no-reset section article article article aside h1,
.no-reset section article article article nav h1,
.no-reset section article article article section h1,
.no-reset section article article aside article h1,
.no-reset section article article aside aside h1,
.no-reset section article article aside nav h1,
.no-reset section article article aside section h1,
.no-reset section article article nav article h1,
.no-reset section article article nav aside h1,
.no-reset section article article nav nav h1,
.no-reset section article article nav section h1,
.no-reset section article article section article h1,
.no-reset section article article section aside h1,
.no-reset section article article section nav h1,
.no-reset section article article section section h1,
.no-reset section article aside article article h1,
.no-reset section article aside article aside h1,
.no-reset section article aside article nav h1,
.no-reset section article aside article section h1,
.no-reset section article aside aside article h1,
.no-reset section article aside aside aside h1,
.no-reset section article aside aside nav h1,
.no-reset section article aside aside section h1,
.no-reset section article aside nav article h1,
.no-reset section article aside nav aside h1,
.no-reset section article aside nav nav h1,
.no-reset section article aside nav section h1,
.no-reset section article aside section article h1,
.no-reset section article aside section aside h1,
.no-reset section article aside section nav h1,
.no-reset section article aside section section h1,
.no-reset section article nav article article h1,
.no-reset section article nav article aside h1,
.no-reset section article nav article nav h1,
.no-reset section article nav article section h1,
.no-reset section article nav aside article h1,
.no-reset section article nav aside aside h1,
.no-reset section article nav aside nav h1,
.no-reset section article nav aside section h1,
.no-reset section article nav nav article h1,
.no-reset section article nav nav aside h1,
.no-reset section article nav nav nav h1,
.no-reset section article nav nav section h1,
.no-reset section article nav section article h1,
.no-reset section article nav section aside h1,
.no-reset section article nav section nav h1,
.no-reset section article nav section section h1,
.no-reset section article section article article h1,
.no-reset section article section article aside h1,
.no-reset section article section article nav h1,
.no-reset section article section article section h1,
.no-reset section article section aside article h1,
.no-reset section article section aside aside h1,
.no-reset section article section aside nav h1,
.no-reset section article section aside section h1,
.no-reset section article section nav article h1,
.no-reset section article section nav aside h1,
.no-reset section article section nav nav h1,
.no-reset section article section nav section h1,
.no-reset section article section section article h1,
.no-reset section article section section aside h1,
.no-reset section article section section nav h1,
.no-reset section article section section section h1,
.no-reset section aside article article article h1,
.no-reset section aside article article aside h1,
.no-reset section aside article article nav h1,
.no-reset section aside article article section h1,
.no-reset section aside article aside article h1,
.no-reset section aside article aside aside h1,
.no-reset section aside article aside nav h1,
.no-reset section aside article aside section h1,
.no-reset section aside article nav article h1,
.no-reset section aside article nav aside h1,
.no-reset section aside article nav nav h1,
.no-reset section aside article nav section h1,
.no-reset section aside article section article h1,
.no-reset section aside article section aside h1,
.no-reset section aside article section nav h1,
.no-reset section aside article section section h1,
.no-reset section aside aside article article h1,
.no-reset section aside aside article aside h1,
.no-reset section aside aside article nav h1,
.no-reset section aside aside article section h1,
.no-reset section aside aside aside article h1,
.no-reset section aside aside aside aside h1,
.no-reset section aside aside aside nav h1,
.no-reset section aside aside aside section h1,
.no-reset section aside aside nav article h1,
.no-reset section aside aside nav aside h1,
.no-reset section aside aside nav nav h1,
.no-reset section aside aside nav section h1,
.no-reset section aside aside section article h1,
.no-reset section aside aside section aside h1,
.no-reset section aside aside section nav h1,
.no-reset section aside aside section section h1,
.no-reset section aside nav article article h1,
.no-reset section aside nav article aside h1,
.no-reset section aside nav article nav h1,
.no-reset section aside nav article section h1,
.no-reset section aside nav aside article h1,
.no-reset section aside nav aside aside h1,
.no-reset section aside nav aside nav h1,
.no-reset section aside nav aside section h1,
.no-reset section aside nav nav article h1,
.no-reset section aside nav nav aside h1,
.no-reset section aside nav nav nav h1,
.no-reset section aside nav nav section h1,
.no-reset section aside nav section article h1,
.no-reset section aside nav section aside h1,
.no-reset section aside nav section nav h1,
.no-reset section aside nav section section h1,
.no-reset section aside section article article h1,
.no-reset section aside section article aside h1,
.no-reset section aside section article nav h1,
.no-reset section aside section article section h1,
.no-reset section aside section aside article h1,
.no-reset section aside section aside aside h1,
.no-reset section aside section aside nav h1,
.no-reset section aside section aside section h1,
.no-reset section aside section nav article h1,
.no-reset section aside section nav aside h1,
.no-reset section aside section nav nav h1,
.no-reset section aside section nav section h1,
.no-reset section aside section section article h1,
.no-reset section aside section section aside h1,
.no-reset section aside section section nav h1,
.no-reset section aside section section section h1,
.no-reset section nav article article article h1,
.no-reset section nav article article aside h1,
.no-reset section nav article article nav h1,
.no-reset section nav article article section h1,
.no-reset section nav article aside article h1,
.no-reset section nav article aside aside h1,
.no-reset section nav article aside nav h1,
.no-reset section nav article aside section h1,
.no-reset section nav article nav article h1,
.no-reset section nav article nav aside h1,
.no-reset section nav article nav nav h1,
.no-reset section nav article nav section h1,
.no-reset section nav article section article h1,
.no-reset section nav article section aside h1,
.no-reset section nav article section nav h1,
.no-reset section nav article section section h1,
.no-reset section nav aside article article h1,
.no-reset section nav aside article aside h1,
.no-reset section nav aside article nav h1,
.no-reset section nav aside article section h1,
.no-reset section nav aside aside article h1,
.no-reset section nav aside aside aside h1,
.no-reset section nav aside aside nav h1,
.no-reset section nav aside aside section h1,
.no-reset section nav aside nav article h1,
.no-reset section nav aside nav aside h1,
.no-reset section nav aside nav nav h1,
.no-reset section nav aside nav section h1,
.no-reset section nav aside section article h1,
.no-reset section nav aside section aside h1,
.no-reset section nav aside section nav h1,
.no-reset section nav aside section section h1,
.no-reset section nav nav article article h1,
.no-reset section nav nav article aside h1,
.no-reset section nav nav article nav h1,
.no-reset section nav nav article section h1,
.no-reset section nav nav aside article h1,
.no-reset section nav nav aside aside h1,
.no-reset section nav nav aside nav h1,
.no-reset section nav nav aside section h1,
.no-reset section nav nav nav article h1,
.no-reset section nav nav nav aside h1,
.no-reset section nav nav nav nav h1,
.no-reset section nav nav nav section h1,
.no-reset section nav nav section article h1,
.no-reset section nav nav section aside h1,
.no-reset section nav nav section nav h1,
.no-reset section nav nav section section h1,
.no-reset section nav section article article h1,
.no-reset section nav section article aside h1,
.no-reset section nav section article nav h1,
.no-reset section nav section article section h1,
.no-reset section nav section aside article h1,
.no-reset section nav section aside aside h1,
.no-reset section nav section aside nav h1,
.no-reset section nav section aside section h1,
.no-reset section nav section nav article h1,
.no-reset section nav section nav aside h1,
.no-reset section nav section nav nav h1,
.no-reset section nav section nav section h1,
.no-reset section nav section section article h1,
.no-reset section nav section section aside h1,
.no-reset section nav section section nav h1,
.no-reset section nav section section section h1,
.no-reset section section article article article h1,
.no-reset section section article article aside h1,
.no-reset section section article article nav h1,
.no-reset section section article article section h1,
.no-reset section section article aside article h1,
.no-reset section section article aside aside h1,
.no-reset section section article aside nav h1,
.no-reset section section article aside section h1,
.no-reset section section article nav article h1,
.no-reset section section article nav aside h1,
.no-reset section section article nav nav h1,
.no-reset section section article nav section h1,
.no-reset section section article section article h1,
.no-reset section section article section aside h1,
.no-reset section section article section nav h1,
.no-reset section section article section section h1,
.no-reset section section aside article article h1,
.no-reset section section aside article aside h1,
.no-reset section section aside article nav h1,
.no-reset section section aside article section h1,
.no-reset section section aside aside article h1,
.no-reset section section aside aside aside h1,
.no-reset section section aside aside nav h1,
.no-reset section section aside aside section h1,
.no-reset section section aside nav article h1,
.no-reset section section aside nav aside h1,
.no-reset section section aside nav nav h1,
.no-reset section section aside nav section h1,
.no-reset section section aside section article h1,
.no-reset section section aside section aside h1,
.no-reset section section aside section nav h1,
.no-reset section section aside section section h1,
.no-reset section section nav article article h1,
.no-reset section section nav article aside h1,
.no-reset section section nav article nav h1,
.no-reset section section nav article section h1,
.no-reset section section nav aside article h1,
.no-reset section section nav aside aside h1,
.no-reset section section nav aside nav h1,
.no-reset section section nav aside section h1,
.no-reset section section nav nav article h1,
.no-reset section section nav nav aside h1,
.no-reset section section nav nav nav h1,
.no-reset section section nav nav section h1,
.no-reset section section nav section article h1,
.no-reset section section nav section aside h1,
.no-reset section section nav section nav h1,
.no-reset section section nav section section h1,
.no-reset section section section article article h1,
.no-reset section section section article aside h1,
.no-reset section section section article nav h1,
.no-reset section section section article section h1,
.no-reset section section section aside article h1,
.no-reset section section section aside aside h1,
.no-reset section section section aside nav h1,
.no-reset section section section aside section h1,
.no-reset section section section nav article h1,
.no-reset section section section nav aside h1,
.no-reset section section section nav nav h1,
.no-reset section section section nav section h1,
.no-reset section section section section article h1,
.no-reset section section section section aside h1,
.no-reset section section section section nav h1,
.no-reset section section section section section h1 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0; }

.no-reset table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray; }

.no-reset thead,
.no-reset tbody,
.no-reset tfoot,
.no-reset tr {
  border-color: inherit;
  vertical-align: middle; }

.no-reset td,
.no-reset th {
  padding: 1px;
  vertical-align: inherit; }

.no-reset th {
  font-weight: bold; }

.no-reset caption {
  text-align: center; }

.no-reset ul,
.no-reset menu {
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 40px; }

.no-reset ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding: 0 0 0 40px; }

.no-reset ul ul,
.no-reset ol ul {
  list-style-type: circle; }

.no-reset ul ul ul,
.no-reset ul ol ul,
.no-reset ol ul ul,
.no-reset ol ol ul {
  list-style-type: square; }

.no-reset dd {
  margin: 0 0 0 40px; }

.no-reset dl {
  margin: 1em 0; }

.no-reset ul ul,
.no-reset ul ol,
.no-reset ul menu,
.no-reset ul dl,
.no-reset ol ul,
.no-reset ol ol,
.no-reset ol menu,
.no-reset ol dl,
.no-reset menu ul,
.no-reset menu ol,
.no-reset menu menu,
.no-reset menu dl,
.no-reset dl ul,
.no-reset dl ol,
.no-reset dl menu,
.no-reset dl dl {
  margin: 0; }

.no-reset legend {
  padding: 0 2px; }

.no-reset fieldset {
  border-style: groove;
  border-width: 2px;
  border: 2px groove ThreeDFace;
  margin: 0 2px;
  padding: 0 2px 3px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em; }

.no-reset ins {
  background-color: transparent;
  font-weight: inherit;
  text-decoration: underline; }

.no-reset b,
.no-reset strong {
  font-weight: bold; }

.no-reset i,
.no-reset cite,
.no-reset em,
.no-reset var,
.no-reset address,
.no-reset dfn {
  font-style: italic;
  font-weight: inherit; }

.no-reset abbr[title],
.no-reset dfn[title] {
  border-bottom: 0;
  cursor: default;
  font-weight: inherit; }

.no-reset tt,
.no-reset code,
.no-reset kbd,
.no-reset samp {
  font-family: monospace;
  font-weight: inherit; }

.no-reset pre {
  font-family: monospace;
  margin: 1em 0;
  white-space: pre; }

.no-reset mark {
  background-color: yellow;
  color: black;
  font-style: normal;
  font-weight: inherit; }

.no-reset big {
  font-size: larger;
  font-weight: inherit; }

.no-reset small {
  font-size: smaller;
  font-weight: inherit; }

.no-reset sub,
.no-reset sup {
  font-weight: inherit;
  line-height: inherit;
  position: static; }

.no-reset sub {
  font-size: smaller;
  bottom: 0;
  vertical-align: sub; }

.no-reset sup {
  font-size: smaller;
  top: 0;
  vertical-align: super; }

.no-reset ruby > rt {
  font-size: 50%; }

.no-reset iframe {
  border: 2px inset; }

.no-reset img {
  width: auto;
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=../maps/reset.css.map */
