@charset "UTF-8";

/* -------------------
  RECRUIT PAGE
--------------------*/
.p-business {
	&--cnt {
		padding: 70px 0;
		@include mq() {
			padding: 40px 0;
		}
	}
	&--intro {
		margin-bottom: 60px;
		font-size: fs(16);
		line-height: fs(32);
		@include mq() {
			font-size: fs(14);
			line-height: fs(28);
			margin-bottom: 40px;
		}
	}
	&--list {
    margin-top: 60px;
		border-left: solid 1px #F5F5F5;
		border-right: solid 1px #F5F5F5;
		border-bottom: solid 1px #F5F5F5;
	}
	&--item {
		a {
			position: relative;
			display: flex;
			padding: 60px;
			border-bottom: solid 1px #F5F5F5;		
			transition: all .3s;
			&:hover {
				box-shadow: 0 0 18px 3px #F5F5F5;
				&:before {
					height: 100%;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 2px;
				height: 0;
				background-color: #AD002D;
				transition: all .4s;
				content: "";
			}
			@include mq() {
				display: block;
				padding: 40px 20px;
			}
		}
		&-infor {
			width: calc(100% - 500px);
			padding-right: 60px;
			@include mq() {
				width: 100%;
				padding-right: 0;
			}
		}
		&-ttl {
			font-size: fs(22);
			line-height: fs(25);
			letter-spacing: 1.1px;
			font-weight: bold;
			margin-bottom: 30px;
		}
		&-cnt {
			font-size: fs(12);
			line-height: fs(20);
			letter-spacing: .6px;
			@include mq() {
				margin-bottom: 20px;
			}
		}
		&-thumb {
			width: 500px;
			@include mq() {
				width: 100%;
			}
			img {
				width: 100%;
			}
		}
	}
}

.p-businessDetail {
	&--cnt {
		padding: 70px 0;
		@include mq() {
			padding: 40px 0;
		}
		&-inner {
			padding: 100px 0 20px;
			@include mq() {
				padding: 60px 0 20px;
			}
		}
	}
	&--ttlWrap {
		padding: 130px 0 230px;
		background: url(../images/business/bg-detail01.png) no-repeat;
		background-size: cover;
		&.type2 {
			background-image: url(../images/business/bg-detail02.png);
		}
		@include mq() {
			padding: 60px 0 100px;
		}
	}
	&--intro {
		&-ttlWrap {
			position: relative;
			width: 50%;
			margin-right: auto;
			margin-bottom: 50px;
			margin-top: -50px;
			padding-right: 80px;
			z-index: 1;
			@include mq(sm2) {
				width: 80%;
				padding-right: 20px;
				margin-bottom: 30px;
			}
			&:after {
				position: absolute;
				top: -70px;
				right: 0;
				display: block;
				width: 50vw;
				height: calc(100% + 70px);
				background-color: #fff;
				content: "";
				@include mq() {
					width: 80vw;
					top: - 20px;
					height: calc(100% + 20px);
				}
			}
		}
		&-ttl {
			position: relative;
			font-size: fs(26);
			line-height: fs(42);
			letter-spacing: 3px;
			font-weight: bold;
			z-index: 1;
			@include mq() {
				font-size: fs(20);
				line-height: fs(26);
				letter-spacing: 2px;
			}
		}
		&-des {
			margin-bottom: 60px;
			font-size: fs(16);
			line-height: fs(32);
			@include mq() {
				margin-bottom: 40px;
			}
		}
	}
	&--points {
		position: relative;
		padding-bottom: 60px;
		&:after {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 60px;
			display: block;
			width: 100vw;
			height: calc(100% - 60px);
			background-color: #F1F4F6;
			content: "";
		}
		.section-about--reason-ttl {
			text-align: left;
		}
		.section-about--reason-list {
			position: relative;
			z-index: 1;
		}
	}
	&--list {
		margin-top: 60px;
	}
	&--item {
		margin-bottom: 60px;
		padding-left: 40px;
		background: url(../images/common/icon-list.svg) top 6px left  no-repeat;
		background-size: 30px 20px;
		@include mq() {
			margin-bottom: 40px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-ttl {
			margin-bottom: 30px;
			font-size: fs(22);
			line-height: fs(25);
			letter-spacing: 1.1px;
			@include mq() {
				margin-bottom: 20px;
			}
		}
		&-des {
			font-size: fs(14);
			line-height: fs(25);
			letter-spacing: .35px;
		}
		&-desWrap {
			display: flex;
			@include mq() {
				display: block;
			}
		}
		.table {
			width: 680px;
			margin-left: 40px;
			flex-shrink: 0;
			font-size: fs(14);
			@include mq() {
				width: 100%;
				margin-top: 20px;
				margin-left: 0;
			}
		}
	}
	&--direct {
		&-list {
			display: flex;
			@include mq(sm2) {
				display: block;
			}
		}
		&-item {	
			position: relative;
			width: 50%;
			text-align: center;
			border: solid 1px #DCDCDC;
			@include mq(sm2) {
				width: 100%;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&:nth-child(2n) {
				border-left: none;
				@include mq(sm2) {
					border-left: solid 1px #DCDCDC;
				}
			}
			&:before {
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    display: inline-block;
		    width: 0;
		    height: 0;
		    border-bottom: 70px solid #AD002D;
		    border-left: 70px solid transparent;
		    content: "";
			}
			&:after {
		    position: absolute;
        bottom: 18px;
		    right: 14px;
		    display: inline-block;
		    width: 16px;
		    height: 10px;
		    background: url(../images/common/icon-arrow-right.svg) no-repeat;
		    background-size: 100%;
		    content: "";
			}
		}
		&-infor {
			padding: 45px 0 60px;
		}
		&-thumb {
			margin-bottom: 10px;
			height: 36px;
			img {
				height: 100%;
				width: auto;
			}
		}
		&-ttl {
			font-size: fs(16);
			line-height: fs(25);
			letter-spacing: .8px;
			font-weight: bold;
		}

	}
	&--contact {
		margin: 100px 0 110px;
		@include mq() {
			margin: 60px 0;
		}
		&-inner {
			display: flex;
			background-color: #F5F5F5;
			@include mq() {
				display: block;
			}
		}
		&-label {
			display: flex;
			align-items: center;
			font-size: fs(22);
			line-height: fs(25);
			letter-spacing: 1.1px;
			font-weight: bold;
			padding: 0 60px;
			border-right: solid 1px #DCDCDC;
			@include mq() {
				padding: 40px 0 0;
				justify-content: center;
			}
		}
		&-box {
			padding: 60px;
			@include mq() {
				padding: 20px 20px 40px;
			}
		}
		&-ttl {
			margin-bottom: 40px;
			font-size: fs(14);
			line-height: fs(25);
			letter-spacing: .35px;
			@include mq() {
				margin-bottom: 20px;
			}
		}
		&-cnt {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mq() {
				display: block;
			}
		}
		&-infor {
			@include mq() {
				margin-bottom: 30px;
			}
			&-name {
				font-size: fs(16);
				line-height: fs(28);
				font-weight: bold;
				letter-spacing: .4px;
			}
			&-phone {
				font-size: fs(15);
				line-height: fs(28);
				font-weight: bold;
				letter-spacing: .4px;
			}
			&-time {
				font-size: fs(14);
				line-height: fs(28);
				letter-spacing: .4px;
			}
		}
		&-link {

		}
	}
	.view-moreWrap {
		margin-bottom: 40px;
		text-align: center;
	}
}