@charset "UTF-8";

/* -------------------
  COMPANY PAGE: (3P)
  philosophy,
  company-infor,
  csr
--------------------*/

// common for company
.p-company {
	.section-ttl2 {
		margin: 70px 0 80px;
		@include mq() {
			margin: 35px 0 50px;
		}
	}
	.tabs-navWrapper {
		margin-bottom: 55px;
		@include mq() {
      margin-bottom: 20px;
    }
	}
	&--ttlWrap {
		.container {
			@include mq() {
	      padding: 0;
	    }
		}
	}
}

// page philosophy
.p-philosophy {
	&--intro {
		.container {
			position: relative;
			padding: 100px 0 110px;
		}
		&-cnt {
			position: relative;
			max-width: 620px;
			z-index: 1;
			@include mq() {
        padding-right: 10px;
        max-width: 50%;
	    }
	    @include mq(sm2) {
	      padding-right: 0;
        max-width: 90%;
	    }
			.section-ttl3 {
				margin-bottom: 50px;
		    @include mq(sm2) {
		    	margin-bottom: 80px;
		    }
			}
			.section-ttl4 {
				margin-bottom: 40px;
				@include mq() {
	        margin-bottom: 20px;
		    }
			}	
		}
		&-nameBox {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 40px 40px 28px;
			background-color: #fff;
			z-index: 1;
			@include mq() {
        padding: 20px 30px 25px;
	    }
		}
		&-pos {
			margin-bottom: 10px;
			font-size: fs(12);
			letter-spacing: .6px;
			line-height: fs(20);
			font-weight: bold;
			@include mq(sm2) {
				margin-bottom: 6px;
	      text-align: center;
	    }
		}
		&-name {
			font-size: fs(26);
			letter-spacing: 1.3px;
			line-height: fs(20);
			font-weight: bold;
			@include mq(sm2) {
	      font-size: fs(20);
	    }
		}
		&-bg {
			position: absolute;
			top: 0;
			right: 0;
			width: calc(100vw - (100vw - 1040px)/2);
			height: 100%;
			background: url(../images/company/bg-msg.jpg) right center no-repeat;
			background-size: cover;
			z-index: 0;
	    @include mq(sm2) {
        background-image: url(../images/company/bg-msg-sp.jpg);
		    background-size: 100% auto;
		    background-position: top center;
		    right: -20px;
		    width: 100vw;
		    max-height: 390px;
	    }
		}
	}
	&--msg {
		margin: 90px 0 100px;
		@include mq() {
      margin: 60px 0 70px;
    }
		.container {
			padding: 0 80px;
			@include mq() {
	      padding: 0;
	    }
		}
		&-list {

		}
		&-item {
			margin-bottom: 90px;
			@include mq() {
	      margin-bottom: 50px;
	    }
			&:last-child {
				margin-bottom: 60px;
				@include mq() {
		      margin-bottom: 40px;
		    }
			}
			.section-ttl4 {
				margin-bottom: 30px;
				@include mq() {
		      margin-bottom: 15px;
		    }
			}
		}
		&-sign {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			&-label {
				margin-right: 12px;
				font-size: fs(11);
				letter-spacing: .55px;
			}
			&-img {
				width: 174px;
				img {
					width: 100%;
				}
			}
		}
	}
	&--management {
		&-cnt {
			margin: 50px 0 100px;
			padding: 0 80px;
			@include mq() {
	      margin: 30px 0 60px;
				padding: 0;
	    }
	    &-inner {
	    	display: flex;
	    	@include mq(sm2) {
		      display: block;
		    }
	    }
			&-ttl {
				width: 260px;
				flex-shrink: 0;
				padding-right: 40px;
				border-right: solid 1px #DCDCDC;
				font-size: fs(18);
				letter-spacing: 1.8px;
				line-height: fs(32);
				font-weight: bold;
				@include mq(sm2) {
		      width: 100%;
		      margin-bottom: 20px;
		      padding-right: 0;
		      border-right: 0;
		    }
			}
			&-des {
				padding-left: 40px;
				font-size: fs(14);
				letter-spacing: .35px;
				line-height: fs(28);
				@include mq(sm2) {
		      padding-left: 0;
		    }
			}
		}
		&-list {
			margin: 50px 0 100px;
			padding: 0 80px;
			@include mq() {
	      margin: 30px 0 60px;
				padding: 0;
	    }
			li {
				position: relative;
				margin-bottom: 40px;
				padding-left: 40px;
				font-size: fs(18);
				line-height: fs(32);
				letter-spacing: .45px;
				font-weight: bold;
				@include mq() {
					margin-bottom: 25px;
					padding-left: 28px;
		      font-size: fs(16);
		      line-height: fs(28);
					letter-spacing: .2px;
		    }
				&:before {
					position: absolute;
					top: 15px;
					left: 0;
					display: block;
					width: 18px;
					height: 2px;
					background-color: #000;
					content: "";
					@include mq() {
						top: 12px;
						left: 0;
						width: 14px;
			    }
				}
			}
		}
	}
	&--conduct {
		&-list {
			margin: 50px 0 100px;
			padding-left: 80px;
			@include mq() {
	      margin: 30px 0 60px;
				padding: 0;
	    }
			li {
				position: relative;
				margin-bottom: 25px;
				// padding-left: 26px;
				font-size: fs(17);
				line-height: fs(32);
				letter-spacing: .42px;
				// counter-increment: count;
				@include mq() {
					margin-bottom: 15px;
					// padding-left: 24px;
		      font-size: fs(16);
		      line-height: fs(28);
					letter-spacing: .2px;
		    }
		    .title-lv4 {
		    	span {
		    		display: inline-block;
		    		margin-bottom: 10px;
		    		margin-right: 5px;
	    			font-size: fs(21);
						font-family: $font-a;
						color: #5F5F5F;
		    	}
		    }
				// &:before {
				// 	position: absolute;
				// 	left: 0;
				// 	top: 3px;
				// 	font-size: fs(20);
				// 	font-family: $font-a;
				// 	color: #5F5F5F;
				// 	display: inline-block;
				// 	content: counter(count) ".";
				// 	@include mq() {
				// 		top: 2px;
				// 		font-size: fs(18);
				// 	}
				// }
			}
		}
	}
}

// page infor
.p-infor {
	&--anchor {
		display: flex;
		justify-content: space-between;
		margin: 70px 0 100px;
		padding: 0 45px;
		@include mq() {
			margin: 30px 0 50px;
			padding: 0;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		li {
			@include mq() {
				width: 48%;
				text-align: center;
				margin-bottom: 20px;
				padding: 8px 3px;
				border: solid 2px #DCDCDC;
			}
			a {
				display: inline-block;
				padding-bottom: 18px;
				font-size: fs(16);
				font-weight: bold;
				letter-spacing: .8px;
				background: url(../images/common/icon-arrow-down.svg) bottom center / 10px 6px no-repeat;
				@include mq() {
					width: 100%;
					padding-bottom: 20px;
					background-position: bottom 5px center;
				}
			}
		}
	}
	&--qualifi {
		.section-ttl3 {
			margin-bottom: 50px;
			@include mq() {
				margin-bottom: 25px;
			}
		}
		&-row {
			margin-bottom: 90px;
			@include mq() {
				margin-bottom: 50px;
				.table2 {
					overflow-x: auto;
					table {
						min-width: 800px;
						width: 100%;
						tr {
							width: 25%;
						}
					}
				}
			}
			.section-ttl6 {
				margin: 60px 0 30px;
			}
			.table2 {
				&.col25 {
					table {
						tr {
							td {
								width: 25%;
							}
						}
					}
				}
			}
			.section-ttl5 {
				margin-bottom: 30px;
				@include mq() {
					margin-bottom: 20px;
				}
			}
			&-des {
				margin-top: 10px;
				font-size: fs(14);
				line-height: fs(25);
				letter-spacing: .35px;
			}
		}
		&-pdf {
			&-thumb {
				text-align: center;
				* {
					width: 100%;
				}
			}
			&-des {
				margin-top: 15px;
				font-size: fs(14);
				line-height: fs(25);
				letter-spacing: .35px;
				text-align: right;
			}
		}
		&-table {
			display: flex;
			flex-wrap: wrap;
			p {
				width: 25%;
			}
		}
		&-map {
			&-iframe {
				iframe {
					width: 100%;
					height: 440px;
					@include mq() {
						height: 50vw;
					}
				}
			}
			&-guide {
				display: flex;
				margin-top: 30px;
				@include mq() {
					margin-top: 15px;
					display: block;
				}
			}
			&-infor {
				margin-right: 50px;
				@include mq() {
					margin-right: 0;
					margin-bottom: 30px;
				}
				&:last-child {
					margin-right: 0;
					margin-bottom: 0;
				}
			}
			&-ttl {
				margin-bottom: 15px;
				font-size: fs(16);
				line-height: fs(22);
				font-weight: bold;
				@include mq() {
					margin-bottom: 10px;
				}
			}
			&-des {
				font-size: fs(14);
				line-height: fs(25);
				letter-spacing: .35px;
			}
		}
	}
}

// page CSR
.p-csr {
	margin-top: 90px;
	padding-bottom: 100px;
	@include mq() {
    margin-top: 50px;
		padding-bottom: 60px;
	}
	.title-lv2 {
		margin-bottom: 45px;
		@include mq() {
			margin-bottom: 25px;
		}
	}
	&--list {
		margin-top: 90px;
		@include mq() {
			margin-top: 45px;
		}
	}
	&--item {
		margin-bottom: 80px;
		@include mq() {
			margin-bottom: 40px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&-ttl {
			margin-bottom: 30px;
			font-size: fs(22);
			line-height: fs(25);
			letter-spacing: 1.1px;
			font-weight: bold;
			@include mq() {
				font-size: fs(18);
				margin-bottom: 20px;
			}
		}
		&-des {
			font-size: fs(14);
			line-height: fs(25);
			letter-spacing: .35px;
		}
	}
}


