@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.pc-m-only{
	display: block;
}
.sp-m-only{
	display: none;
}
@media(max-width: 768px){
	.pc-m-only{
		display: none;
	}
	.sp-m-only{
		display: block;
	}
}
.main-ttl span{
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.data{
	padding:  0 4.2vw;
	h2{
		letter-spacing: 1.5px;
		color: #000000;
		font-size: 30px;
		color: #000;
		font-weight: bold;
		line-height: 1.4;
		padding-left: 2.9vw;
		@media(max-width: 768px){
			font-size: 24px;
			letter-spacing: 1.2px;
		}
	}
	h3{
		font-weight: bold;
		font-size: 26px;
		color: #505050;
		letter-spacing: 1.3px;
		z-index: 2;
		position: relative;
		@media(min-width: 769px) and (max-width: 960px){
			font-size: 18px;
		}
		@media(max-width: 768px){
			font-size: 24px;
		}
	}
	h4{
		color: #CCCCCC;
		font-family: "Josefin Sans", sans-serif;
		text-transform: uppercase;
		letter-spacing: 0;
		letter-spacing: 0px;
		margin-bottom: 18px;
		z-index: 2;
		position: relative;
		@media(min-width: 769px) and (max-width: 960px){
			font-size: 13px;
		}
		@media(max-width: 768px){
			font-size: 14px;
			margin-bottom: 20px;
		}
	}
	&__box-top{
		position: relative;
		background-color: #fff;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		img{
			width: 100%;
		}
		h3{
			position: absolute;
			top: 33%;
			bottom: 0;
			margin: auto;
			left: 0;
			right: 0;
			letter-spacing: 0px;
			color: #AD002D;
			font-size: 24px;
			font-weight: bold;
			@media(max-width: 768px){
				position: relative;
				margin-bottom: 32px;
			}
		}
	}
	
	.row{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		@media(max-width: 768px){
			flex-flow: column;
		}
	}
	&__col{
		background-color: #F1F4F6;
		padding: 130px 4.2vw 100px;
		@media(max-width: 768px){
			padding: 40px 20px 40px;
		}
		.list__row{
			margin-bottom: 100px;
			@media(max-width: 768px){
				margin-bottom: 40px;
			}
			&.type02{
				@media(max-width: 768px){
					margin-bottom: 20px;
				}
				.row{
					&:nth-child(odd){
						flex-direction: row-reverse;
						@media(max-width: 768px){
							flex-direction: column-reverse;
							margin-bottom: 0;
						}
					}
					&:nth-child(1){
						.data__col--box ul li:nth-child(1) .img{
							width: 12.5vw;
							margin-right: auto;
							margin-top: 40px;
							@media(max-width: 768px){
								width: 100%;
								margin-top: 0;
							}
						}
						.data__col--box ul li:nth-child(2) .img{
							width: 100%;
							margin-left: -55px;
							margin-top: 0;
							@media(min-width: 1850px){
								width: 85%;
							}
							@media(max-width: 768px){
								margin-left: 0;
							}
						}
						.col-3{
							.data__col--box{
								.img{
									width: 100%;
									padding: 0 20px;
								}
							}
						}
					}
					&:nth-child(2){
						.data__col--box ul {
							margin-top: -75px;
							@media(max-width: 768px){
								margin-top: 0;
								display: flex;
								flex-direction: column-reverse;
								li{

								}
							}
							li:nth-child(1){
								p{
									left: 13%;
								    right: auto;
								    max-width: 10.5vw;
								    letter-spacing: 0;
								    top: 35%;
								    bottom: 0;
								    margin: auto;
								    text-align: left;
								    @media(min-width: 769px) and (max-width: 960px){
								    	left: 0;
								    	max-width: 17vw;
								    }
								    @media(max-width: 768px){
								    	left: 0;
								    	max-width: 100%;
								    }
								}
								 .img{
									width: 12.5vw;
									margin-right: auto;
									margin-top: 40px;
								}
							}
						}
						.data__col--box ul li:nth-child(2) .img{
							width: 100%;
							margin-left: -100px;
							margin-top: -25px;
							@media(min-width: 1850px){
								width: 85%;
							}
							@media(min-width: 769px) and (max-width: 960px){
								margin-top: 0;
							}
							@media(max-width: 768px){
								margin-left: 0;
								margin-top: -75px;
							}
						}
						.col-3{
							.data__col--box{
								.img{
									width: 100%;
									padding: 0 20px;
									margin-top: -50px;
									@media(min-width: 769px) and (max-width: 960px){
										margin-top: 0;
									}
									img{
										max-height: 100%;
									}
								}
							}
						}
					}

				}
			}
		}
		&--box{
			background-color: #fff;
			padding-left: 44px;
			padding-top: 30px;
			padding: 30px 5px 25px 5px;
			border-radius: 5px;
			position: relative;
			z-index: 2;
			height: 414px;
			@media(max-width: 768px){
				height: 100%;
				margin-bottom: 20px;
			}
			&:before{
				position: absolute;
			    border-top: 60px solid transparent;
			    border-bottom: 0px solid transparent;
			    border-right: 60px solid #fff;
			    content: "";
			    left: 0;
			    top: 0;
			    background: #AD002D;
			    z-index: 1;
			}
			ul{
				display: flex;
				position: relative;
				//align-items: center;
				z-index: 2;
				@media(max-width: 768px){
					display: block;
				}
				li{
					width: 50%;
					box-sizing: border-box;
					@media(max-width: 768px){
						width: 100%;
					}
				}
			}
			
			h3, h4{
				padding-left: 44px;
				@media(max-width: 768px){
					padding-left: 40px;
				}
			}
			p{
				font-size: 14px;
				line-height: 1.7;
				padding: 0 10px;
				text-align: center;
				position: absolute;
				bottom: 15px;
				left: 0;
				right: 0;
				@media(max-width: 768px){
					display: block;
					text-align: left;
					position: relative;
				}
			}
			.img{
				text-align: center;
				width: 18vw;
				margin:0 auto 20px;
				@media(max-width: 768px){
					width: 100%;
					margin-bottom: 40px;
				}
			}
		}
		h2{
			margin-bottom: 50px;
			@media(max-width: 768px){
				margin-bottom: 30px;
			}
		}
		.row{
			margin: 0 -10px 20px; 
			.col-3{
				padding: 0 10px;
			}
			.col-9{
				padding: 0 10px;
			}
			&:nth-child(1){
				.data__col--box{
					ul li{
						&:nth-child(1){
							.img{
								width: 20vw;
							    margin-top: -37px;
							    margin-right: 50px;
							    @media(min-width: 1750px){
							    	width: 17vw;
							    	margin-right: 100px;
							    }
							    @media(min-width: 769px) and (max-width: 1050px){
							    	margin-top: 0;
							    }
							    @media(max-width: 768px){
							    	width: 100%;
							    	padding: 0 25px;
							    	margin-top:0;
							    }
							}
						}
						&:nth-child(2){
							.img{
								width: 19vw;
							    margin-top: -9px;
							    margin-right: 50px;
							    @media(min-width: 1850px){
							    	margin-right: 100px;
							    	margin-top: -20px;
							    }
							    @media(max-width: 768px){
							    	width: 100%;
							    	margin-top: 0;
							    	margin-bottom: 60px;
							    	padding: 0 20px; 
							    }
							}
						}
					}
				}
			}
			&:nth-child(2){
				.col-3{
					.data__col--box{
						.img{
							width: 90%;
							img{
								max-height: 183px;
							}
						}
					}
				}
				.col-9{
					.data__col--box{
						p{
							left: auto;
							bottom: 20px;
						}
					}
				}
				.data__col--box{
					ul {
						li{
							&:nth-child(1){
								.img{
									width: 18vw;
								    margin-top: -37px;
								    margin-right: 20px;
								    @media(min-width: 1750px){
								    	width: 17vw;
								    	margin-right: 100px;
								    }
								    @media(min-width: 769px) and (max-width: 1050px){
								    	margin-top: 0;
								    }
								    @media(max-width: 768px){
								    	width: 100%;
								    	margin-right: 0;
								    	margin-top: 0;
								    }
								}
							}
							&:nth-child(2){
								.img{
									width: 19vw;
								    margin-top: 60px;
								    @media(min-width: 1850px){
								    	margin-right: 100px;
								    	margin-top: 40px;
								    }
								    @media(max-width: 768px){
								    	width: 100%;
								    	margin-right: 0;
								    	margin-top: 0;
								    }
								}
							}
						}
					}
					}
			}
			&:nth-child(even){
				flex-direction: row-reverse;
				@media(max-width: 768px){
					flex-direction: column-reverse;
				}
			}
		}
	}
	.col-3{
		flex: 0 0 32.34%;
		max-width: 32.34%;
		box-sizing: border-box;
		@media(max-width: 768px){
			max-width: 100%;
			width: 100%;
			flex: 0 0 100%;
		}
	}
	.col-4{
		flex: 0 0 33.333%;
		max-width: 33.333%;
		box-sizing: border-box;
		@media(max-width: 768px){
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	.col-9{
		flex: 0 0 67.66%;
		max-width: 67.66%;
		box-sizing: border-box;
		@media(max-width: 768px){
			max-width: 100%;
			flex: 0 0 100%;
		}
	}
	.col-5{
		flex: 0 0 20%;
		max-width: 20%;
		box-sizing: border-box;
		@media(max-width: 768px){
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.list__check{
		padding: 0 3vw;
		margin-top: -10px;
		@media(max-width: 768px){
			margin-top: 0;
		}
		h5{
			font-size: 12px;
			letter-spacing: 0px;
			color: #000000;
			margin-bottom: 4px;
		}
		ul{
			display: block;
			letter-spacing: 0px;
			color: #000000;
			font-size: 14px;
			font-weight: bold;
			li{
				
				width: 100%;
				margin-bottom: 2px;
				span{
					margin-right: 3px;
				}
			}
		}
		&--item{
			display: flex;
			flex-wrap: wrap;
			ul{
				width: 50%;
				box-sizing: border-box;
			}
		}
	}
	&__style{
		margin-bottom: 20px;
		h3{
			@media(max-width: 768px){
				text-align: left;
				
			}
		}
		&--info{
			background-color: #fff;
			border-radius: 5px;
			text-align: center;
			height: 240px;
			padding: 17px 0 15px 0;
			@media(min-width: 769px) and (max-width: 960px){
				height: 300px;
			}
			@media(max-width: 768px){
				height: 100%;
				margin-bottom: 20px;
				padding-left: 30px;
			}
			p{
				letter-spacing: 0px;
				color: #000000;
				font-size: 14px;
			}
			img{
				padding: 10px 10px 0 10px;
				@media(max-width: 768px){
					padding-top: 0;
				}
			}
		}
		.row{
			margin: 0 -10px;
		}
		.col-5{
			padding: 0 10px;
		}
	}
	&__heath{
		margin-bottom: 20px;
		.col-4{
			padding: 0 10px;
		}
		.row{
			margin: 0 -10px;
		}
		.data__col--box{
			height: 370px;
			@media(min-width: 769px) and (max-width: 960px){
				height: 300px;
			}
			@media(max-width: 768px){
				height: 100%;
			}
			.img{
				width: 100%;
			}
			p{
				@media(max-width: 768px){
					text-align: center;
					margin-bottom: -20px;
				}
			}
		}
	}
	&__document{
		ul{
			align-items: center;
			justify-content: center;
			padding: 0 60px 30px 44px;
			margin: 0 -27px;
			@media(min-width: 769px) and (max-width: 960px){
				padding: 0 10px 30px 10px;
			}
			li{
				padding: 0 27px;
				box-sizing: border-box;
				&:first-child, &:last-child{
					width: 30%;
					@media(max-width: 768px){
						width: 100%;
						padding: 0;
						margin-bottom: 20px;
					}
				}
				&:nth-child(2){
					width: 40%;
					@media(max-width: 768px){
						width: 100%;
						margin-bottom: 40px;
					}
					> img{
						margin-top: -90px;
						@media(max-width: 768px){
							margin-top: 0px;
						}
					}
				}
				
			}
		}
		.data__col--box{
			height: auto;
			padding-bottom: 0;
		}
		.list__check{
			padding: 0;
			@media(max-width: 768px){
				padding-left: 50px;
			}
			@media(max-width: 320px){
				padding-left: 15px;
			}
			h3{
				padding-left: 0;
				font-size: 20px;
				letter-spacing: 0px;
				margin-bottom: 5px;
				color: #AD002D;
				@media(max-width: 768px){
					margin-left: -30px;
				}
				@media(max-width: 320px){
					margin-left: -10px;
				}
			}
			h5{
				margin-bottom: 5px;
			}
		}
		.list__check--item {

			ul{
				width: 100%;
				padding: 0;
				li{
					width: 100%;
					margin-bottom: 6px;
					@media(max-width: 768px){
						padding: 0;
					}
					@media(max-width: 320px){
						padding-left: 15px;
					}
				}
			}
		}
	}
}
.red--text{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	li{
		&:first-child{
			font-size: 43px;
			letter-spacing: 0px;
			color: #AD002D;
		}
		&:last-child{
			font-size: 20px;
			letter-spacing: 1px;
			color: #AD002D;
			font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
			margin-bottom: 4px;
    		margin-left: 5px;
		}
	}
}
.list{
	&__tag{
		max-width: 74vw;
		margin: 100px auto 0;
		@media(max-width: 768px){
			margin-top: 70px;
			width: 100%;
			max-width: 100%;
		}
		ul{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}
		li{
			background-color: #fff;
			position: relative;
			width: 50%;
			box-sizing: border-box;
			border: 1px solid #DCDCDC;
			transition: 0.3s all;
			@media(max-width: 768px){
				width: 100%;
			}
			&:first-child{
				border-right:inherit;
				@media(max-width: 768px){
					border-right:1px solid #DCDCDC;
					border-bottom: inherit;
				}
			}
			&:before{
				position:absolute;
				content: "";
				border-top: 60px solid transparent;
			    border-bottom: 0px solid transparent;
			    border-right: 60px solid #fff;
			    transform: rotate(180deg);
			    content: "";
			    right:  0;
			    bottom:  0;
			    background: #AD002D;
			    @media(max-width: 768px){
			    	border-top-width: 70px;
			    	border-right-width: 70px;
			    }
			}
			&:after{
				transition: 0.3s all;
				position:absolute;
				content: "";
				width: 18px;
				height: 12px;
				background: url('../images/data/right.svg') no-repeat;
				bottom: 10px;
				right: 10px;
				@media(max-width: 768px){
					bottom: 18px;
				}
			}
			@media(min-width: 769px){
				&:hover{
					opacity: 0.8;
					&:after{
						right:3px;
					}

				}
			}
			a{
				color: #000;
				width: 100%;
				padding: 82px 0;
				font-weight: bold;
				letter-spacing: 0.8px;
				font-size: 16px;
				text-align: center;
				display: block;
				@media(min-width: 769px) and (max-width: 960px){
					padding: 50px 0;
				}
				@media(max-width: 768px){
					padding: 50px 0;
				}
			}
		}
	}
}
@media(min-width: 769px){
	.list__block{
		.img{
			height: 90px;
			margin-top: -10px;
			margin-bottom: 15px;
		}
	}
}
@media(max-width: 768px){
	.list__block{
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		justify-content: space-between;
		
		p{
			text-align: left;
		}
		.img{
			width: 50%;
			height: 77px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.list--red{
			width: 50%;
		}
		.red--text{
			justify-content: flex-start;
			
		}
	}
}
// hack firefox only
@-moz-document url-prefix() {
    @media(min-width: 769px){
    	.data__style--info{
    		height: 260px;
    	}
    	.data__col .row:nth-child(2) .col-3 .data__col--box .img img{
    		// height: 11.5vw;
    	}
    }
    @media(min-width: 769px) and (max-width: 1365px){
    	.data .list__check{
    		padding: 0 7px;
    	}
    }
}