@charset "UTF-8";

/* -------------------
  END PAGE COMMON
--------------------*/
.p-end {
	.container {
		width: 1040px;
		max-width: 100%;
		margin: 0 auto;
		@include mq() {
			padding: 0 20px;
		}
		&.type2 {
			width: 1200px;
		}
	}


	&--banner {
		padding: 120px 0 60px;
		background: url(../images/common/bg-grid.png) repeat-x;
		@include mq() {
			padding: 40px 0 45px;
			background-image: url(../images/common/bg-grid-sp.png);
		}
		&.type2 {
			background: none;
		}
	}
	&--content {
		margin-top: 70px;
		@include mq() {
			margin-top: 20px;
		}
	}
}


/* -------------------
  PRIVACY PAGE
--------------------*/
.p-privacy__timestamp {
	margin: 30px 0 45px auto;
	width: 240px;
	text-align: left;
}

.p-privacy__box {
	margin-top: 40px;
	padding: 40px 50px;
	background-color: #F5F5F5;
	color: #5F5F5F;
	@include mq() {
		padding: 25px 30px;
	}
}