@charset "UTF-8";

/* -------------------
  NEWS
--------------------*/
.p-news {
	padding-bottom: 100px;
	.title-lv2 {
		margin-bottom: 50px;
	}
	.dateWrap {
		margin-bottom: 15px;
		.date {
			margin-right: 12px;
		}
	}
	.btn-view-more {
		display: block;
		width: 300px;
		margin-left: auto;
		margin-top: 100px;
		@include mq() {
			margin-right: auto;
		}
	}
	.iframe {
		padding: 0 70px;
		text-align: center;
		@include mq() {
			padding: 0;
		}
		iframe {
			width: 100%;
			height: 560px;
			
			@include mq() {
				height: 400px;
			}
			@include mq(sm2) {
				height: 250px;
			}
		}
	}
	&--list {
		margin-bottom: 50px;
	}
	&--item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		border-bottom: solid 1px #DCDCDC;
		@include mq() {
			flex-wrap: wrap;
		}
		&-link {
			display: inline-block;
			@include mq() {
				display: block;
			}
		}
		&-infor {
			.date {
				margin-right: 40px;
				@include mq() {
					margin-right: 20px;
				}
			}
		}
	}
}