@charset "UTF-8";

/* -------------------
  RECRUIT PAGE
--------------------*/
.p-recruit {
	&--message {
		margin-bottom: 80px;
		padding: 120px 0;
		background: url(../images/recruit/bg-message.png) no-repeat;
		background-size: cover;
		@include mq() {
			margin-bottom: 30px;
			padding: 90px 25px 0;
			background-image: url(../images/recruit/bg-message-sp.png);
			background-size: 100%;
		}
		&-cnt {
			width: 1040px;
			max-width: 100%;
			padding-left: 100px;
			margin: 0 auto;
			font-size: fs(30);
			line-height: fs(46);
			font-weight: bold;
			letter-spacing: 5.4px;
			@include mq() {
				padding: 0;
				font-size: fs(22);
				line-height: fs(36);
				letter-spacing: 4px;
			}
		}
	}
	&--intro {
		width: 1040px;
		max-width: 100%;
		padding-left: 100px;
		margin: 0 auto 100px;
		font-size: fs(15);
		line-height: fs(28);
		font-weight: bold;
		letter-spacing: .75px;
		@include mq() {
			margin-bottom: 60px;
			padding: 0 25px;
		}
	}
	&--business {
		.section-ttl {
			margin-bottom: 50px;
			@include mq() {
		    margin-bottom: 35px;
		  }
		}
		&-cnt {
			width: 1040px;
			max-width: 100%;
			padding-left: 100px;
			margin: 0 auto 100px;
			@include mq() {
				padding: 0 35px;
			}
		}
		&-summary {
			margin-bottom: 40px; 
			font-size: fs(14);
			line-height: fs(27);
			letter-spacing: .7px;
			@include mq() {
				margin-bottom: 30px; 
			}
		}
		&-list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px 20px;
			@include mq(sm2) {
				display: block;
				margin: 0;
			}
		}
		&-item {
			width: 33.33%;
			margin-bottom: 20px;
			padding: 0 10px;
			@include mq(sm2) {
				width: 100%;
				padding: 0;
			}
			&-link {
				display: block;
				width: 100%;
				height: 100%;
				padding: 100px 30px 20px;
				border: 1px solid #BCC1C7;
				background: #FDFDFD url(../images/recruit/bg-business01.svg) center center no-repeat;
				background-size: 80%;
				&.item02 {
					background-image: url(../images/recruit/bg-business02.svg);
				}
				&.item03 {
					background-image: url(../images/recruit/bg-business03.svg);
				}
			}
			&-ttl {
				margin-bottom: 40px;
				font-size: fs(14);
				// line-height: fs(56);
				font-weight: bold;
				letter-spacing: 3.6px;
				text-align: center;
				@include mq() {
					margin-bottom: 28px;
					font-size: fs(18);
				}
			}
			&-des {
				margin-bottom: 40px;
				font-size: fs(14);
				line-height: fs(25);
				letter-spacing: .7px;
			}
		}
		&-more {
			@include mq() {
				text-align: center;
			}
		}
	}
	&--action {
		position: relative;
		padding: 180px 0 150px;
		width: 1200px;
		max-width: 100%;
		padding-left: 80px;
		margin: 0 auto 150px;
		@include mq() {
			padding: 200px 0 200px 15px;
			margin-bottom: 70px;
		}
		.section-ttl {
			justify-content: center;
			margin-bottom: 50px;
		}
		&-img01 {
			position: absolute;
			top: 0;
			left: 80px;
			width: 430px;
			@include mq() {
				width: 200px;
				left: 0;
			}
		}
		&-img02 {
			position: absolute;
			bottom: 0;
			left: 180px;
			width: 360px;
			@include mq() {
				width: 200px;
				left: 40px;
			}
		}
		&-img03 {
			position: absolute;
			bottom: 160px;
			right: 0;
			z-index: 2;
			width: 240px;
			@include mq() {
				width: 100px;
				right: 15px;
				bottom: 100px;
			}
		}
		&-cnt {
			position: relative;
			// width: 860px;
			width: 61vw;
			max-width: 860px;
			min-width: 720px;
			margin-left: auto;
			padding: 60px 50px 100px;
			z-index: 1;
			background-color: #fff;
			@include mq() {
				width: 100%;
				min-width: 100%;
				padding: 40px 20px;
			}
		}
		&-list {
			padding-right: 260px;
			@include mq() {
				padding-right: 0;
			}
		}
		&-item {
			display: flex;
			margin-bottom: 60px;
			@include mq() {
				margin-bottom: 35px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			&-icon {
				width: 32px;
				margin-right: 18px;
				@include mq() {
					margin-right: 15px;
				}
				img {
					width: 100%;
				}
			}
			&-cnt {
				width: calc(100% - 32px);
			}
			&-ttl {
				margin-bottom: 20px;
				font-size: fs(18);
				letter-spacing: .9px;
				line-height: fs(28);
				font-weight: bold;
				@include mq() {
					margin-bottom: 15px;
					font-size: fs(17);
				}
			}
			&-des {
				font-size: fs(14);
			  line-height: fs(25);
			  letter-spacing: .7px;
			}
		}

	}
	&--people {
		&-list {
			margin-top: 40px;
		}
		&-item {
			padding: 50px 0 60px;
			background-color: #F1F4F6;
			&.more {
				display: none;
			}
			@include mq() {
				padding: 25px 0 30px;
			}
			&:last-child {
				padding-bottom: 100px;
				@include mq() {
					padding-bottom: 70px;
				}
			}
			&:nth-child(odd) {
				background-color: #fff;
			}
			.container {
				padding-left: 60px;
				@include mq() {
					padding: 0;
				}
			}
			&-top {
				display: flex;
				margin-bottom: 10px;
			}
			&-icon {
				display: inline-block;
				width: 270px;
				@include mq() {
					width: 140px;
					margin-left: -10px;
				}
				img {
					width: 100%;
				}
			}	
			&-infor {
				width: calc(100% - 270px);
				padding-top: 30px;
				margin-left: 10px;
				@include mq() {
					width: calc(100% - 140px);
					margin-left: 0;
					padding: 10px 15px;
				}
			}
			&-summary {
				margin-bottom: 20px;
				font-size: fs(24);
				line-height: fs(30);
				letter-spacing: 2.4px;
				font-weight: bold;
				@include mq() {
					font-size: fs(18);
					line-height: fs(26);
					letter-spacing: 1.8px;
					font-weight: bold;
				}
			}
			&-nameWrap {
				display: flex;
			}
			&-name {
				padding-right: 20px;
				border-right: solid 1px #B9BDC1;
				@include mq() {
					display: flex;
					justify-content: space-between;
					border-right: none;
					padding-right: 0;
				}
				.p_name {
					margin-bottom: 10px;
					font-size: fs(24);
					line-height: fs(32);
					font-weight: bold;
					font-family: $font-a;
					letter-spacing: 2.8px;
					@include mq() {
						font-size: fs(18);
						line-height: fs(22);
						font-weight: bold;
						font-family: $font-a;
						letter-spacing: 2.2px;
						margin-bottom: 0;
						margin-right: 20px;
					}
				}
				.p_year {
					font-size: fs(14);
					line-height: fs(25);
					@include mq() {
						font-size: fs(12);
						line-height: fs(18);
					}
					&-label {
						font-weight: bold;
					}
				}
			}
			&-des {
				padding-left: 20px;
				font-size: fs(14);
				line-height: fs(28);
				letter-spacing: .7px;
				@include mq() {
					padding: 0 30px;
				}
				p {
					margin-bottom: 10px;
				}
			}
		}
		.btn-view-more3 {
			width: calc(100% - 100px);
			margin-left: auto;
			margin-bottom: 45px;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			@include mq() {
				width: 100%;
		    height: 80px;
		    line-height: 80px;
		    margin-bottom: 70px;
				transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}
		.btn-view-more6 {
			display: none;
			margin-bottom: 150px;
		}
	}
	&--job {
		margin-bottom: 120px;
		@include mq() {
			margin-bottom: 50px;
		}
		.container {
			padding-left: 100px;
			@include mq() {
				padding: 0 15px;
			}
		}
		.section-ttl {
			justify-content: flex-end;
			margin-bottom: 50px;
			@include mq() {
				width: 160px;
				margin-left: auto;
				margin-bottom: 0;
				span {
					padding-left: 10px;
				}
			}
		}
		&-cnt {
			display: flex;
			justify-content: space-between;
			@include mq() {
				display: block;
			}
		}
		&-notice {
			position: relative;
			width: calc(100% - 500px - 50px);
			padding: 50px 30px 50px 40px;
			@include mq() {
				width: 100%;
		    padding: 40px 10px 60px 20px;
			}
			&:before,
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 30px;
				height: 30px;
				background: url(../images/recruit/line_deg.svg) no-repeat;
				content: "";
			}
			&:after {
				top: auto;
				left: auto;
				right: 0;
				bottom: 35px;
				background-image: url(../images/recruit/line_deg.svg);
			}
			&-ttl {
				margin-bottom: 30px;
				font-size: fs(15);
				line-height: fs(28);
				letter-spacing: .75px;
				@include mq() {
					margin-bottom: 10px;
				}
			}
			&-list {
				li {
					padding-left: 28px;
					font-size: fs(15);
					line-height: fs(37);
					letter-spacing: 1.5px;
					font-weight: bold;
					background: url(../images/recruit/icon-check.svg) left center / 14px 14px no-repeat;
					a {
						transform: all .3s;
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
		&-directs {
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					width: 500px;
					max-width: 100%;
					display: flex;
					align-items: center;
					line-height: fs(24);
					@include mq() {
						width: 100%;
					}
				}
			}
		}
	}
	&--entry {
		padding: 90px 80px;
		background: url(../images/recruit/bg-entry.jpg) no-repeat;
		background-size: cover;
		@include mq() {
			padding: 60px 15px 50px;
		}
		.container {
			padding-left: 100px;
			@include mq() {
				padding: 0;
			}
		}
		.section-ttl {
			margin-bottom: 50px;
			justify-content: center;
			@include mq() {
				margin-bottom: 20px;
				span {
					text-align: center;
				}
			}
		}
		&-summary {
			margin-bottom: 50px;
			font-size: fs(15);
			line-height: fs(28);
			letter-spacing: .75px;
			@include mq() {
				margin-bottom: 20px;
			}
		}
		&-inforWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include mq() {
				display: block;
			}
		}
		&-infor {
			@include mq() {
				margin-bottom: 30px;
			}
			&-ttl {
				margin-bottom: 20px;
				font-size: fs(16);
				line-height: fs(24);
				letter-spacing: 1.6px;
				font-weight: bold;
				@include mq() {
					margin-bottom: 10px;
				}
			}
			&-des {
				font-size: fs(13);
				line-height: fs(22);
			}
		}
		&-direct {
			.btn-view-more2 {
				width: 400px;
			}
		}
	}

	&--graphics {
		padding: 60px 0 44px;
    background: url(../images/common/bg-grid.png) repeat;
		&-list {
			display: flex;
			justify-content: space-between;
			margin-bottom: -100px;
			@include mq() {
				display: block;
				margin-bottom: -30px;
			}
		}
		&-item {
			@include mq() {
				margin: 0 auto;
			}
			&.txt {
				width: 330px;
				padding-top: 50px;
				@include mq() {
					padding-top: 0;
				}
				@include mq(sm2) {
					width: 100%;
				}
			}
			&.img {
				width: 400px;
				padding-right: 50px;
				@include mq() {
					margin-top: 30px;
					padding-right: 0;
				}
				@include mq(sm2) {
					width: 100%;
				}
			}
			&-ttl {
				font-family: $font-a;
				font-size: fs(54);
				letter-spacing: 5.4px;
				line-height: fs(54);
				font-weight: bold;
				color: #AD002D;
				@include mq() {
					margin-bottom: 5px;
				}
				@include mq(sm2) {
					font-size: fs(50);
					letter-spacing: 5.0px;
					line-height: fs(50);
				}
			}
			&-desc {
				font-size: fs(15);
				letter-spacing: 3px;
				line-height: 1;
				font-weight: bold;
			}
		}
		&-more {
			position: relative;
			padding-bottom: 18px;
			font-size: fs(15);
			letter-spacing: .38px;
			line-height: fs(96);
			font-weight: bold;
			font-family: $font-a;
			transition: all .3s;
			&:hover {
				opacity: .7;
			}
			&:after {
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				background-color: #000;
				content: "";
			}
		}
	}
}


.p-requirements {
	padding: 100px 0 200px;
	@include mq() {
		padding: 50px 0 150px;
	}
	&--anchor {
		display: flex;
		flex-wrap: wrap;
    margin: 70px 0 0;
    @include mq() {
			justify-content: space-between;
			margin: 40px 0 0;
		}
		li {
			margin-right: 30px;
			@include mq() {
				width: 48%;
				margin-right: 0;
			}
			@include mq(sm2) {
				width: 100%;
				margin-bottom: 20px;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				display: inline-block;
				padding-left: 20px;
				font-size: fs(16);
				line-height: 2;
				letter-spacing: .8px;
				font-weight: bold;
		    background: url(../images/common/icon-arrow-down.svg) left center/10px 6px no-repeat;
			}
		}
	}
	&--row {
		padding-top: 100px;
		@include mq(sm2) {
			padding-top: 60px;
		}
		.section-ttl3 {
			margin-bottom: 50px;
			@include mq(sm2) {
				margin-bottom: 30px;
			}
		}
	}
	&--table {
		.table {
			font-size: fs(14);
			line-height: fs(28);
			th {
				text-align: left;
			}
		}
	}
	&--entry {
		.btn-view-more5 {
			width: 420px;
			max-width: 100%;
			margin: 50px auto 0;
	    padding: 26px 35px 20px;
	    background: #093A96 url(../images/common/icon-arrow-right.svg) right 16px center / 20px 12px no-repeat;
	    &:hover {
		    color: #093A96;
		    background-color: #fff;
		    background-image: url(../images/common/icon-arrow-right-blue.svg);
		  }
		}
	}
}