@charset "UTF-8";
// ===========================
// STRENGTH
// ===========================
.p-strength {
	&--reason {
		// background: url(../images/strength/bg-reason01.png) top left no-repeat, url(../images/strength/bg-reason02.png) bottom left no-repeat;
		// background-size: cover;
		&-cnt {
			position: relative;
			padding-top: 5vw;
			@include mq(sm2) {
				padding-top: 20vw;
			}
		}
		&-bg {
			position: absolute;
			top: 0;
			overflow: hidden;
			height: 100%;
			z-index: 0;
		}
		&-intro {
			position: relative;
			margin-bottom: 100px;
			z-index: 2;
			@include mq(sm2) {
				margin-bottom: 60px;
			}
			&-ttl {
				margin-bottom: 40px;
				font-size: fs(30);
				line-height: fs(52);
				letter-spacing: fs(5.4);
				font-weight: bold;
				@include mq(sm2) {
					font-size: fs(25);
					line-height: fs(36);
					letter-spacing: fs(5.4);
				}
			}
			&-summary {
				font-size: fs(15);
				line-height: fs(27);
				letter-spacing: .75px;
				font-weight: bold;
			}
		}
		&-list {

		}
		&-row {
			position: relative;
			padding-top: 5.7vw;
			&:nth-child(even) {
				// background-color: red;
				.p-strength--reason-row {
					&-thumb {
						left: auto;
						right: 0;
					}
					&-cnt {
						margin-left: 0;
						margin-right: auto;
						padding: 4.8vw 31.42vw 11.9vw 12.9vw;
						background-position: right 30vw top 1.92vw;
						@include mq(sm2) {
							width: 100%;
							height: auto;
							padding: 50px 20px;
							background-position: right 4.3vw top 2.7vw;
						}
					}
					&-label {

					}
					&-ttl {

					}
				}
			}
			&-thumb {
				// width: 630px;
				position: absolute;
				left: 0;
				top: 0;
				width: 45vw;
				height: 30vw;
				overflow: hidden;
				z-index: 2;
				@include mq(sm2) {
					position: static;
					width: 100%;
					height: auto;
				}
			}
			&-cnt {
				// width: 1160px;
				width: 83vw;
				height: 31.4vw;
				margin-left: auto;
				padding: 5.6vw 13vw 11.2vw 31.4vw;
				background: rgba(255,255,255,0.9) url(../images/strength/icon-reason01.svg) right 4.3vw top 2.7vw / 22vw 22vw no-repeat;
				@include mq() {
					height: auto;
				}
				@include mq(sm2) {
					width: 100%;
					height: auto;
					padding: 50px 20px;
				}
				&.reason02 {
					background-image: url(../images/strength/icon-reason02.svg);
				}
				&.reason03 {
					background-image: url(../images/strength/icon-reason03.svg);
				}
			}
			&-label {
				position: relative;
				margin-bottom: 2.86vw;
				font-size: fs(12);
				// font-size: .86vw;
				font-weight: bold;
				font-family: $font-a;
				color: #AD002D;
				&:before {
					position: absolute;
					left: -12px;
					top: 50%;
					transform: translate(-100%, -50%);
					display: block;
					width: 12vw;
					height: 1px;
					background-color: #E6A09A;
					content: "";
				}
			}
			&-ttl {
				margin-bottom: 2.14vw;
				font-size: fs(22);
				// line-height: fs(25);
				// font-size: 1.57vw;
				line-height: 1.8vw;
				letter-spacing: 1px;
				font-weight: bold;
				@include mq() {
					line-height: 1.5;
				}
			}
			&-des {
				font-size: fs(16);
				// font-size: 1.14vw;
				line-height: 1.79vw;
				letter-spacing: .4px;
				@include mq() {
					line-height: 1.5;
				}
				@include mq(sm2) {
					position: static;
				}
			}
		}
	}
	&--job {
		margin-bottom: 100px;
		&-list {
			display: flex;
			flex-wrap: wrap;
			margin: 50px -5px 60px;
			@include mq(sm2) {
				display: block;
				margin: 50px 0 60px;
			}
		}
		&-item {
			width: 33.33%;
			margin-bottom: 40px;
			padding: 0 5px;
			@include mq(sm2) {
				width: 100%;
				padding: 0;
			}
		}
		&-thumb {
			max-height: 227px;
			overflow: hidden;
		}
		.title-lv4 {
			padding: 30px 20px 0;
		}
		.view-moreWrap {
			text-align: center;
		}
	}
}