@charset "UTF-8";

/* -------------------
  TOP PAGE
--------------------*/
.mv {
  &-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: #AD022D;
    z-index: 9998;
    overflow: hidden;
  }
  &-overlayWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // background-color: #AD022D;
    z-index: 10000;
    overflow: hidden;
  }

  &-overlay {
    position: relative;
    width: 105%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    @include mq(sm2){
      width: 120%;
    }
    * {
      display: inline-block;
      overflow: hidden;
      position: relative;
      background-color: #AD022D;
      margin: 0;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  &-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 8vw;
    height: 8vw;
    font-size: fs(50);
    color: #fff;
    z-index: 10002;
    display: none;
    img {
      width: 100%;
    }
    @include mq() {
      width: 15vw;
      height: 15vw;
    }
  }

  &-matrixWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
  }

  &-matrix {
    position: relative;
    width: 100%;
    height: 100%;

    .lineX {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100vh;
      background-color: #fff;
      // animation: lineWidth 1.3s;
    }

    .lineY {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 1px;
      background-color: #fff;
      // animation: lineHeight 1.3s;
    }
  }
  &-img {
    background: url(../images/top/mv.png);
    background-size: cover;
  }
}

.section {
  &-about {
    // margin-top: 90px;
    // padding-top: 100px;
    // background: url(../images/top/bg-section-about.png) no-repeat;
    // background-size: 65% auto;
    @include mq() {
      // margin-top: 50px;
      // padding-top: 132px;
      // background-size: 85% auto;
    }

    &--intro {
      position: relative;
      width: 580px;
      max-width: 100%;
      margin-right: 10.7vw;
      margin-left: auto;
      // margin-bottom: 220px;
      color: #fff;
      z-index: 2;
      transition: all .4s;
      opacity: 0;
      &.open {
        opacity: 1;
      }
      &-wrap {
        position: relative;
        overflow: hidden;
        padding-top: 260px;
        padding-bottom: 220px;
        @include mq(sm2) {
          padding-top: 120px;
          // padding-bottom: 100px;
        }
      }
      &-video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          // background: linear-gradient(to right,rgba(255,255,255,0),rgba(0,0,0,.3)) right top / 60% no-repeat;
          background: rgba(0, 0, 0, 0.3) url(../images/common/bg-pattern.png) repeat;
          content: "";
          z-index: 1;
          // @include mq() {
          //   background: rgba(0, 0, 0, 0.2);
          // }
        }
      }
      &-ttl {
        margin-bottom: 50px;
        font-size: fs(30);
        line-height: fs(52);
        font-weight: bold;
        letter-spacing: 5.4px;
        @include mq() {
          margin-bottom: 20px;
          padding: 0 40px;
          font-size: fs(22);
          line-height: fs(36);
          letter-spacing: 4px;
        }
      }

      &-cnt {
        font-size: fs(15);
        line-height: fs(27);
        letter-spacing: .75px;
        font-weight: bold;
        @include mq() {
          padding: 0 15px 0 40px;
        }
      }
    }

    &--reason {
      position: relative;
      width: 1200px;
      max-width: 100%;
      margin: 70px auto 0;
      padding-top: 70px;
      @include mq() {
        padding-top: 50px;
        margin-top: 0;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 380px;
        background-color: #F1F4F6;
        content: "";
        @include mq() {
          height: 800px;
        }
      }

      &-inner {
        position: relative;
        padding: 0 80px;
        z-index: 1;
        @include mq() {
          padding: 0 20px;
        }
      }

      &-ttl {
        font-weight: bold;
        font-size: fs(22);
        line-height: fs(56);
        letter-spacing: 4.4px;
        text-align: center;
      }

      &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px 20px;
        @include mq() {
          display: block;
          margin: 0 0 20px;
        }

        li {
          position: relative;
          width: 33.33%;
          margin-bottom: 20px;
          padding: 0 10px;
          @include mq() {
            display: block;
            width: 100%;
            padding: 0;
          }
          &:before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            display: block;
            width: 1px;
            height: 40px;
            background-color: #E6A09A;
            content: "";
          }
          a {
            transition: all .3s;
            &:hover {
              border-color: #AD002D;
            }
          }
        }
      }
      &-link {
        display: block;
        padding: 60px 40px 40px;
        background-color: #fff;
        border: solid 1px #fff;
        @include mq() {
          padding: 60px 20px 40px;
        }
      }

      &-label {
        margin-bottom: 15px;
        font-size: fs(12);
        font-family: $font-a;
        color: #AD002D;
        text-align: center;
        font-weight: bold;
        @include mq() {
          margin-bottom: 30px;
        }
      }

      &-ttlWrap {
        @include mq() {
          display: flex; 
          align-items: center;
        }
      }

      &-icon {
        width: 85px;
        margin: 0 auto 28px;
        @include mq() {
          width: 60px;
          margin: 0 20px 0 0;
        }
      }

      &-heading {
        margin-bottom: 70px;
        font-size: fs(22);
        line-height: fs(56);
        font-weight: bold;
        letter-spacing: 4.4px;
        text-align: center;
        @include mq() {
          margin-bottom: 40px;
          font-size: fs(20);
          line-height: fs(30);
          letter-spacing: 4px;
        }
      }

      &-ttl {
        margin-bottom: 30px;
        font-size: fs(18);
        line-height: fs(28);
        font-weight: bold;
        letter-spacing: 2.8px;
        @include mq() {
          width: calc(100% - 60px);
          font-size: fs(16);
          line-height: fs(28);
          letter-spacing: 4px;
          text-align: left;
          margin-bottom: 0;
        }
      }

      &-des {
        color: #505050;
        font-size: fs(14);
        line-height: fs(24);
        @include mq() {
          margin-top: 20px;
        }
      }
    }
  }

  &-service {
    position: relative;
    max-width: 1400px;
    min-height: 42vw;
    margin: 120px auto 0;
    padding: 0 40px;
    // background: url(../images/top/bg-section-service.png) top 1.8vw center no-repeat;
    // background-size: 95vw auto;
    @include mq() {
      padding: 0 15px;
      background-position: top 30px center;
      background-size: 100% auto;
    }
    &--bg {
      position: absolute;
      top: 1.8vw;
      left: 50%;
      transform: translateX(-50%);
      width: 95vw;
      display: flex;
      z-index: 0;
      &-img {
        width: 33.33%;
        img {
          width: 100%;
        }
      }
    }
    &--inner {
      position: relative;
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
    }

    &--ttl {
      margin-bottom: 50px;
      font-family: $font-a;
      font-size: fs(72);
      letter-spacing: 8.5px;
      font-weight: bold;
      @include mq() {
        margin-bottom: 42vw;
        font-size: fs(50);
        letter-spacing: 6px;
      }

      span {
        display: block;
        font-size: fs(18);
        font-weight: bold;
        letter-spacing: 3.6px;
        @include mq() {
          padding-left: 5px;
          font-size: fs(12);
          letter-spacing: 2.4px;
        }
      }
    }

    &--intro {
      width: 680px;
      max-width: 100%;
      padding: 20px 0 50px;
      margin-left: 80px;
      font-size: fs(16);
      line-height: fs(38);
      font-weight: bold;
      @include mq() {
        width: 100%;
        padding: 0;
        margin-left: 0;
        .btn-view-more {
          display: block;
          width: 300px;
          margin: 0 auto;
        }
      }
      &-cnt {
        margin-bottom: 50px;
      }
    }

  }

  &-news {
    width: 1200px;
    max-width: 100%;
    margin: 100px auto 0;
    @include mq() {
      padding: 0 15px;
      margin: 70px auto 0;
    }
    &--inner {
      padding: 0 80px;
      @include mq() {
        padding: 0;
      }
    }

    &--ttl {
      margin-bottom: 20px;
      font-size: fs(40);
      letter-spacing: 4.8px;
      font-weight: bold;
      font-family: $font-a;
      @include mq() {
        margin-bottom: 0;
        font-size: fs(34);
        letter-spacing: 4px;
      }
    }

    &--cnt {}

    &--list {}

    &--item {
      padding: 26px 0 20px;
      border-bottom: solid 1px #DCDCDC;
      @include mq() {
        padding: 20px 0;
      }

      a {
        display: flex;
        justify-content: space-between;
        @include mq() {
          position: relative;
        }
        .tagWrap {
          display: flex;
          align-items: center;
          justify-content: center;
          @include mq() {
            position: absolute;
            right: 0;
            top: 0;
            .tag {
              margin-bottom: 0;
              padding: 1px 6px 0;
            }
          }
        }
      }

      &-infor {
        display: flex;
        align-items: center;
        @include mq() {
          display: flex;
          flex-wrap: wrap;
        }
        .date {
          margin-right: 25px;
          @include mq() {
            display: block;
            width: 100%;
            margin-bottom: 15px;
          }
        }

        .link-pdf {
          display: inline-block;
          padding-right: 20px;
          transition: all .3s;
          background: url(../images/common/icon-pdf.svg) right top 3px/12px 14px no-repeat;
        }

        .link-blank {
          display: inline-block;
          padding-right: 20px;
          transition: all .3s;
          background: url(../images/common/icon-blank.svg) right top 4px/11px 11px no-repeat;
        }
      }
    }

    .view-moreWrap {
      text-align: right;
      margin-top: 70px;
      @include mq() {
        margin-top: 15px;
      }
    }

    .view-more {}
  }

  &-direct {
    margin-top: 100px;
    @include mq() {
      padding: 0 15px;
    }

    &--list {
      display: flex;
      @include mq() {
        display: block;
      }
    }

    &--item {
      width: 50%;
      @include mq() {
        width: 100%;
        margin-bottom: 20px;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }

    &--infor {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      &-inner {
        margin-top: 45px;
        text-align: center;
        @include mq() {
          margin-top: 0;
        }
      }

      &-ttl {
        font-size: fs(30);
        letter-spacing: 6px;
        line-height: fs(20);
        color: #fff;
        font-weight: bold;
        @include mq() {
          font-size: fs(22);
          letter-spacing: 4.4px;
        }
      }

      &-des {
        width: 100%;
        margin-top: 30px;
        font-size: fs(15);
        letter-spacing: .38px;
        line-height: fs(20);
        font-weight: bold;
        @include mq() {
          margin-top: 12px;
          font-size: fs(11);
          letter-spacing: .28px;
        }
      }
    }

    &--label {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 0;
      left: 0;
      z-index: 2;
      overflow: hidden;
      @include mq() {
        width: 74px;
        height: 74px;
      }

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;

        span {
          position: absolute;
          width: 100%;
          top: 30%;
          left: 30%;
          font-family: $font-b;
          color: #fff;
          font-size: fs(12);
          letter-spacing: .6px;
          text-align: center;
          transform: translate(-50%, -50%) rotate(-45deg);
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          z-index: 2;
          @include mq() {
            top: 35%;
            left: 35%;
            font-size: fs(7);
            letter-spacing: .35px;
          }
        }

        &:before {
          position: absolute;
          top: -6px;
          left: 14px;
          display: inline-block;
          width: 1px;
          height: 40px;
          background-color: #fff;
          content: "";
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          z-index: 2;
          @include mq() {
            height: 25px;
            top: -5px;
            left: 7px;
          }
        }

        &:after {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 150px solid #000;
          border-right: 150px solid transparent;
          content: "";
          z-index: 1;
        }
      }
    }

    &--icon {
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: 0;
      right: 0;
      z-index: 2;
      @include mq() {
        width: 50px;
        height: 50px;
      }

      &:before {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        width: 0;
        height: 0;
        border-bottom: 100px solid #AD002D;
        border-left: 100px solid transparent;
        content: "";
        @include mq() {
          border-bottom: 50px solid #AD002D;
          border-left: 50px solid transparent;
        }
      }

      &:after {
        position: absolute;
        bottom: 24px;
        right: 20px;
        display: inline-block;
        width: 20px;
        height: 12px;
        background: url(../images/common/icon-arrow-right.svg) no-repeat;
        content: "";
        @include mq() {
          width: 15px;
          height: 9px;
          bottom: 12px;
          right: 8px;
          background-size: 100%;
        }
      }
    }

    &--thumb {
      img {
        width: 100%;
      }
    }
  }
}


// scroll
.scroll {
  transition: .3s;
  opacity: 0;
  &.open {
    opacity: 1;
  }
  a {
    display: inline-block;
    position: absolute;
    left: 50px;
    bottom: 40px;
    z-index: 2;
    padding: 10px 10px 110px;
    color: #fff;
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    transition: .2s;
    overflow: hidden;
    @include mq() {
      display: none;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100px;
      background: rgba(#fff, .4);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 1px;
      // height: 100px;
      background: #AD002D;
      height: 30px;
      animation: sdl07 1.5s ease infinite;
    }
    &:hover {
      opacity: .5;
    }
  }
}

@keyframes sdl07 {
  0% {
    transform: translateY(-70px);
  }
  50%, 100% {
    transform: translateY(30px);
  }
}

