.lineWidth {
  transform: translateX(-100%);
  transition: transform 1.3s;
  &.in {
    transform: translateX(0);
  }
}


.lineHeight {
  transform: translateY(100%);
  transition: transform 1.3s;
  &.in {
    transform: translateY(0);
  }
}




// @-webkit-keyframes lineHeight {
//   from {
//     transform: translateY(-100%);
//   }

//   to {
//     transform: translateY(0);
//   }
// }

// @keyframes lineHeight {
//   from {
//     transform: translateY(-100%);
//   }

//   to {
//     transform: translateY(0);
//   }
// }

// .lineHeight {
//   -ms-interpolation-mode: bicubic;
//   -webkit-animation: lineHeight .7s;
//   -moz-animation: lineHeight .7s;
//   animation: lineHeight .7s;
// }

